@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@using Booker.WebUI.Models.ApprovedInvoices
@model ApprovedInvoicesModel

@{
    ViewBag.Title = "Submitted Invoices";
    ViewBag.MenuSection = "invoices-menu";
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("Index", "SubmittedInvoices"))
                {
                    @Html.AntiForgeryToken()
                    //@Html.HiddenFor(model => model.SearchType)

                    if (ViewContext.ViewData.ModelState.Keys.Any(string.IsNullOrEmpty))
                    {
                        // Only show the validation summary if there are non-property errors
                        @Html.ValidationSummary(true)
                    }

                    <fieldset class="header-fields">
                        <legend class="hidden">Search</legend>

                        @*@if (Model.SearchType == ApprovedInvoiceSearchType.JobRef)
                        {
                            @Html.HiddenFor(model => model.DateFrom)
                            @Html.HiddenFor(model => model.DateUntil)
                            @Html.HiddenFor(model => model.SupplierId)
                            <div class="header-row">
                                <div class="editor-for">
                                    @Html.LabelFor(model => model.JobRef)
                                    @Html.EditorFor(model => model.JobRef)
                                    @Html.ValidationMessageFor(model => model.JobRef)
                                </div>
                            </div>
                        }
                        else
                        {*@
                            @*@Html.HiddenFor(model => model.JobRef)*@
                            <div class="header-row-nomargin">
                                <div class="editor-for-inline-middle">
                                    @Html.LabelFor(model => model.DateFrom)
                                    @Html.EditorFor(model => model.DateFrom)
                                    @Html.ValidationMessageFor(model => model.DateFrom)
                                </div>
                                <div class="editor-for-inline-middle">
                                    @Html.LabelFor(model => model.DateUntil)
                                    @Html.EditorFor(model => model.DateUntil)
                                    @Html.ValidationMessageFor(model => model.DateUntil)
                                </div>
                                <div class="editor-for-inline-middle">
                                    @Html.LabelFor(model => model.SupplierId)
                                    @Html.DropDownListFor(model => model.SupplierId, Model.SupplierSelectList)
                                    @Html.ValidationMessageFor(model => model.SupplierId)
                                </div>
                                @*<div class="editor-for-inline-middle">
                                    @Html.LabelFor(model => model.IsSubmitted)
                                    @Html.CheckBoxFor(model => model.IsSubmitted)
                                    @Html.ValidationMessageFor(model => model.IsSubmitted)
                                </div>*@
                                <div class="editor-for-inline-middle">
                                    <input type="submit" value="Reload Invoices" class="btn btn-primary" />
                                </div>
                            </div>
                        @*}*@

                    </fieldset>
                }

                <table id="approved-invoices" class="clicktable responsive" data-empty-table="No results found">
                    <thead>
                        <tr>
                            <th>Supplier</th>
                            <th>Order Ref</th>
                            <th>Job Ref</th>
                            <th>Inv Num</th>
                            <th>Inv Status</th>
                            <th>Inv Date</th>
                            <th>Net ($)</th>
                            <th>Tax ($)</th>
                            <th>Gross ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Invoices != null)
                        {
                            foreach (var invoice in Model.Invoices)
                            {
                                <tr>
                                    @*<td>@Html.ActionLink(invoice.WorkOrderRef, "View", "SubmittedInvoices", new { id = invoice.Id }, null)</td>*@
                                    <td>@invoice.SupplierName</td>
                                    <td>@invoice.WorkOrderRef</td>
                                    <td>@(invoice.JobRef == 0 ? "N/A" : string.Format("{0:0}", invoice.JobRef))</td>
                                    <td>@invoice.InvoiceNumber</td>
                                    <td>
                                        @{
                                            if (invoice.StatusId == 3 && invoice.IsQueried)
                                            {
                                                @(String.Format("{0} {1}", "Queried - ", invoice.SupplierName))

                                            

                                            }
                                            else
                                            {
  
                                                @invoice.Status
                                            }

                                        }

                                    </td>

                                    <td>@Html.TextOrEmptyString(invoice.InvoiceDate.ToCurrentCultureShortDate())</td>
                                    <td class="right-text">@Html.DecimalToCurrencyString(invoice.NetAmount)</td>
                                    <td class="right-text">@Html.DecimalToCurrencyString(invoice.VatAmount)</td>
                                    <td class="right-text">@Html.DecimalToCurrencyString(invoice.GrossAmount)</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/approvedinvoices")
    @Scripts.Render("~/bundles/jquerydatatables")
}
