@using Booker.WebUI.Models
@model CalculateCostModel

<tr id="@Html.DisplayFor(x=>x.Id)" class="@Html.DisplayFor(x=>x.Category)">

    <td class="col-xs-1 category">@Model.Category</td>
    <td class="col-xs-2 col-xs-3 "> <span>@Model.Description</span></td>
    <td class="col-xs-1">
        <label class="radio-inline">@Html.RadioButtonFor(x => x.YesNo, true, new { @class = "yesNo", onchange = "CalculateServiceCost(" + Model.Id + ");return false;" })Yes</label>
        <label class="radio-inline">@Html.RadioButtonFor(x => x.YesNo, false, new { @class = "yesNo", onchange = "CalculateServiceCost(" + Model.Id + ");return false;" })No</label>
    </td>
    <td class="col-xs-1 quantityCell">
        @Html.TextBoxFor(x => x.Items, new { @class = "form-control hide quantity", @type = "number", @step = "1", @min = "1", onchange = "CalculateServiceCost(" + Model.Id + ");return false;" })
    </td>
    <td class="col-xs-1 infoIcon"><span class="tipso_style hide" data_toogle="tooltip" data-placement="left" title="@Model.ToolTip"><span class="glyphicon glyphicon-info-sign largeFontGlyphicon"></span></span></td>
</tr>