@using System.Threading
@model Booker.WebUI.Models.PackageDisplayItem
<tr>
    @Html.HiddenFor(x => x.PackageId)

    <td>@Model.Name</td>

    <td>
        @Html.RadioButtonFor(x => x.IsSubscribed, true, new { @class = "pull-left " })<label class="pull-left">Yes&nbsp;&nbsp;</label>
        @Html.RadioButtonFor(x => x.IsSubscribed, false, new { @class = "pull-left" })<label class="pull-left">No</label>
    </td>
    <td>
        @Html.TextBoxFor(x => x.LastServiceDate, string.Format("{{0:}}{0}",Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern), new { @class = "jquery_datepicker form-control", autocomplete = "off" })
    </td>
    <td>
        @Html.TextBoxFor(x => x.ProposedDate, string.Format("{{0:}}{0}", Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern), new { @class = "jquery_datepicker form-control", autocomplete = "off" })
    </td>



</tr>