@using System.Globalization
@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@using Booker.WebUI.Models
@model Booker.WebUI.Models.JobsAwaitingReallocation.JobsAwaitingReallocationViewModel

@{
    ViewBag.Title = "Jobs Awaiting Reallocation";
    ViewBag.MenuSection = "availability-menu";
}
<link href="~/Content/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@ViewBag.Title</h2>
                <table id="resource-availability" class="responsive" data-empty-table="There are currently no jobs awaiting reallocation.">
                    <thead>
                        <tr>
                            <th>Job Reference</th>
                            <th>Store</th>
                            <th>Fault Service</th>
                            <th>Resource</th>
                            <th>Reason</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Reallocate to Resource</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Jobs)
                        {
                            <tr id="tr-@item.JobId">
                                <td>@item.JobRef</td>
                                <td>@item.Site</td>
                                <td>@item.FaultService</td>
                                <td>@item.ResourceName</td>
                                <td>@item.ReasonDescription</td>
                                <td>@item.StartDate.ToCurrentCultureDateTime()</td>
                                <td>@item.EndDate.ToCurrentCultureDateTime()</td>
                                <td>
                                    <select onchange="manageReallocateButton('@item.JobId')">
                                        <option value=""></option>
                                        @foreach (var engineer in Model.Engineers)
                                        {
                                            <option value="@engineer.ResourceId">@engineer.ResourceName (@engineer.ResourceSubTypeName)</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <button class="btn-info btn-xs round reallocate" alt="Reallocate" onclick="reallocateJob('@item.JobId', '@item.ResourceId')" disabled>Reallocate</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydatatables")
    @Scripts.Render("~/bundles/supplierhelpers")
    <script>

        function manageReallocateButton(jobId) {
            if ($('#tr-' + jobId + ' select').val()) {
                $('#tr-' + jobId + ' button.reallocate').removeAttr('disabled');
            } else {
                $('#tr-' + jobId + ' button.reallocate').attr('disabled', true);
            }
        }

        function reallocateJob(jobId, fromResourceId) {
            var toResourceId = $('#tr-' + jobId + ' select').val();
            document.location.href = '/JobsAwaitingReallocation/ReallocateJob?jobId=' + jobId + '&fromResourceId=' + fromResourceId + '&toResourceId=' + toResourceId;
        }
    </script>
}
