@model Booker.WebUI.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot password";
}

@*<img class="logo login-logo" alt="BOOKER" title="BOOKER" src="@Url.Content("~/Content/images/logo.png")" />*@
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="loginForm">

                    <hgroup class="title">
                        <h1>@ViewBag.Title</h1>
                    </hgroup>
                    <p>Enter your username and an email will be sent that will enable you to reset your password.</p>
                    <p>Alternatively, you can contact City to have your password reset.</p>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset class="header-fields">
                            <legend>Forgot Password Form</legend>
                            <ol>
                                <li>
                                    @Html.LabelFor(m => m.UserName)
                                    @Html.TextBoxFor(m => m.UserName)
                                    @Html.ValidationMessageFor(m => m.UserName)
                                </li>
                            </ol>
                            <input type="submit" value="Send email" class="btn btn-primary" />
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/allowanon")
    @Scripts.Render("~/bundles/jqueryval")
}
