@using Booker.WebUI.Helpers
@using System.Configuration
@model Booker.WebUI.Models.LoginModel

@{
    ViewBag.Title = "Login";
    var versionSuffix = ConfigurationManager.AppSettings["VersionSuffix"];
}

<div class="container" id="Login">
    <div class="row">
        <div class="col-xs-12">

            @if (string.IsNullOrEmpty(versionSuffix))
            {
                <h2 class="header-light">@ViewBag.Title</h2>
            }
            else
            {
                <h2 class="header-light">@ViewBag.Title <span class="warning-text"> (@versionSuffix)</span></h2>
            }

            @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                if (ViewBag.Error == true)
                {
                    <div class="validation-summary-errors">The user name or password provided is incorrect.</div>
                }
                @Html.BootstrapLabelFor(m => m.UserName)
                <div class="form-group">
                    @Html.BootstrapTextBoxFor(m => m.UserName, new { autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "help-inline" })
                </div>
                @Html.BootstrapLabelFor(m => m.Password)
                <div class="form-group">
                    @Html.BootstrapPasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                </div>
                <input id="Submit" type="submit" value="Login" class="btn btn-primary" />
                <div class="helper-links">
                    @Html.ActionLink("I've forgotten my password", "ForgotPassword", "Account")                    
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>

        //ReportParams.aspx loads in an iFrame, so reload the parent window if session is expired when loading that page
        if (window.self !== window.top) {
            parent.location.reload();
        }

    </script>

    @Scripts.Render("~/bundles/allowanon")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/placeholderpolyfill")
}
