@model Booker.WebUI.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <hgroup class="title">
                    <h1>@ViewBag.Title.</h1>
                </hgroup>

                <p class="message-success">@ViewBag.StatusMessage</p>

                <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

                @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
