@model Booker.WebUI.Models.RefreshPasswordModel
@{
    ViewBag.Title = "Refresh Password";
}

@*<img class="logo login-logo" alt="BOOKER" title="BOOKER" src="@Url.Content("~/Content/images/logo.png")" />*@
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="loginForm">

                    <hgroup class="title">
                        <h1>@ViewBag.Title</h1>
                    </hgroup>
                    <strong>Your password must be renewed every 60 days, please do so now.</strong>
                    @using (Html.BeginForm("RefreshPassword", "Account", routeValues: new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <fieldset>
                            <legend>Refresh Password Form</legend>
                            <ol>
                                <li>
                                    @Html.LabelFor(m => m.UserName)
                                    @Html.TextBoxFor(m => m.UserName)
                                </li>
                                <li>
                                    @Html.LabelFor(m => m.OldPassword)
                                    @Html.PasswordFor(m => m.OldPassword)
                                </li>
                                <li>
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password)
                                </li>
                                <li>
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                </li>
                            </ol>
                            <input type="submit" class="btn btn-primary" value="Change password" />
                        </fieldset>
                        @Html.ActionLink("I've forgotten my password", "ForgotPassword", "Account")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/allowanon")
    @Scripts.Render("~/bundles/jqueryval")
}
