@model Booker.WebUI.Models.RegisterSupplierModel
@{
    ViewBag.Title = "Register Single Store Login";
    ViewBag.MenuSection = "admin-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <fieldset class="header-fields">
                        <legend>Registration Form</legend>
                        <ol>
                            <li>
                                @Html.LabelFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName, new { autocomplete = "off" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.Role)
                                @Html.TextBoxFor(m => m.Role, new {@readonly = "readonly"})
                            </li>
                            <li>
                                @if(@Model.HelpdeskResourceId >0)
                                {
                                    @Html.LabelFor(m => m.HelpdeskResourceId)
                                    @Html.TextBoxFor(m => m.HelpdeskResourceId, new { @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.HelpdeskResourceId)
                                }
                            </li>
                            <li>
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { autocomplete = "off" })
                            </li>
                            <li>
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
                            </li>
                        </ol>
                        <div class="header-row">
                            <div class="editor-for">
                                <p class="buttons">
                                    <input type="submit" value="Register" class="btn btn-primary" />
                                </p>
                            </div>
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section css{
    <style>
        input, select {
            width: 15em;
        }
    </style>
}


