@model Booker.WebUI.Models.UserResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}

@*<img class="logo login-logo" alt="BOOKER" title="BOOKER" src="@Url.Content("~/Content/images/logo.png")" />*@
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="loginForm">
                    <h2>@ViewBag.Title</h2>

                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary()
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ResetToken)
                        if (Request.HttpMethod.ToLower() == "post")
                        {
                            @Html.ActionLink("Request new password reset", "ForgotPassword")
                        }
                        <fieldset class="header-fields">
                            <legend>Reset Password Form</legend>
                            <ol>
                                <li>
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password)
                                </li>
                                <li>
                                    @Html.LabelFor(m => m.ConfirmPassword)
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                </li>
                            </ol>
                            <input type="submit" value="Set password" class="btn btn-primary" />
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/allowanon")
    @Scripts.Render("~/bundles/jqueryval")
}
@section css{
    <style>
        input {
            width: 15em;
        }
    </style>
}
