@model Booker.WebUI.Models.AccountsPayableHomePageModel

    @{
        ViewBag.Title = "Home";
        ViewBag.MenuSection = "home-menu";
    }

    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <h2>Welcome to the @Booker.Common.CompanyStrings.ShortName Portal</h2>

                    <table id="summary" class="clicktable">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th class="right-text">Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            @CreateSupplierActionRow("Orders Awaiting Invoice", "OrdersAwaitingInvoice", "AccountsPayable", Model.NumberOfOrdersAwaitingInvoice)
                            @CreateSupplierActionRow("Submitted Invoices (Last 90 days)", "SubmittedInvoices", "AccountsPayable", Model.NumberOfSubmittedInvoicesLast90Days)
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @helper CreateSupplierActionRow(string linkText, string actionName, string controllerName, int num)
{
    <tr>
        <td>@Html.ActionLink(linkText, actionName, controllerName)</td>
        <td class="right-text">@string.Format("{0:0}", num)</td>
    </tr>
}

    @section scripts {
        @Scripts.Render("~/bundles/jquerydatatables")
    }
