@using Booker.WebUI.Helpers
@model Booker.WebUI.Views.ViewModels.AccountsPayable.RemoveFileViewModel

@{
    ViewBag.Title = "Remove Invoice Document";
    ViewBag.MenuSection = "invoices-menu";
}

<p class="form-text center-text">Are you sure you want to remove the document from the invoice?</p>

@using (Html.BeginForm())
{
    <div id="DeleteFileError" class="validation-summary-errors" style="display: none">Sorry, there was an unexpected error processing your request.</div>
    @Html.AntiForgeryToken()

    if (ViewContext.ViewData.ModelState.Keys.Any(string.IsNullOrEmpty))
    {
        // Only show the validation summary if there are non-property errors
        @Html.ValidationSummary(true)
    }

    @Html.HiddenFor(model => model.WorkOrderRef)
    @Html.HiddenFor(model => model.DocumentType)
    @Html.HiddenFor(model => model.DocumentRef)

}
