@model Booker.WebUI.Models.BookerUserHomePageModel

@{
    ViewBag.Title = "Home";
    ViewBag.MenuSection = "home-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h2>Welcome to the @Booker.Common.CompanyStrings.ShortName Portal</h2>

                <table id="summary" class="clicktable">
                    <thead>
                        <tr>
                            <th>Types</th>
                            <th class="right-text">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.ActionLink("Quotes Awaiting Approval", "", "QuotesAwaitingApproval")</td>
                            <td class="right-text">@string.Format("{0:0}", Model.NumberQuotesAwaitingApproval)</td>
                        </tr>
                        <tr>
                            <td>@Html.ActionLink("Members Awaiting Approval", "MembersAwaitingApproval", "BookerUser")</td>
                            <td class="right-text">@string.Format("{0:0}", Model.NumberSignedupMembersAwaiting)</td>
                        </tr>
                        
                        <tr>
                            <td>@Html.ActionLink("Active Members", "MembersActive", "BookerUser")</td>
                            <td class="right-text">@string.Format("{0:0}", Model.NumberSignedupMembersActive)</td>
                        </tr>
                        
                        <tr>
                            <td>@Html.ActionLink("Members Stopped", "MembersOnStop", "BookerUser")</td>
                            <td class="right-text">@string.Format("{0:0}", Model.NumberOfMembersOnStop)</td>
                        </tr>
                        
                        @*<tr>
                            <td>@Html.ActionLink("Members Rejected", "MembersRejected", "BookerUser")</td>
                            <td class="right-text">@string.Format("{0:0}", Model.NumberSignedupMembersRejected)</td>
                        </tr>*@
                        
                        <tr>
                            <td>@Html.ActionLink("Leads to Validate", "ValidateLeads", "BookerUser")</td>
                            <td class="right-text">@string.Format("{0:0}", Model.NumberOfLeadsToValidate)</td>
                        </tr>


                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}