@using Booker.WebUI.Models

@model LeadModel

@{
    ViewBag.Title = "Lead to Validate";
    ViewBag.MenuSection = "Home-menu";

}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("LeadLookup", "BookerUser", null, FormMethod.Post, new { id = "LookUpLeadForm", @class = "input-form" }))
                {
                    
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()

                    @*@Html.ValidationSummary(false, "We're missing some information:")*@
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Lead ID:</strong></span>
                        </div>
                        <div class="col-xs-9">  <p class="form-control-static">@Model.Id</p></div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-xs-2"><span><strong>Member Number:</strong></span></div>
                            <div class="col-xs-9"> @Html.TextBoxFor(x => x.MemberNumber, new { @class = "form-control w50p" }) @Html.ValidationMessageFor(x => x.MemberNumber) </div><div id="validation" class="hide col-xs-3 form-control-static"><p class="bg-danger default-top-margin"> &nbsp; &nbsp; Member number already exists!</p></div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Contact Number:</strong></span>
                        </div>
                        <div class="col-xs-9"> <p class="form-control-static">@Model.ContactNumber</p></div> @*@Html.TextBoxFor(x => x.ContactNumber, new { @class = "form-control", @readOnly = true })*@
                    </div>

                    <div class="row default-top-margin default-bottom-margin">
                        <div class="form-group col-xs-2">
                            <span><strong>Is a Valid Lead:</strong></span>
                        </div>
                        <div class="col-xs-9"> <input type="checkbox" checked /> </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>&nbsp;</strong></span>
                        </div>
                        <div class="col-xs-9"> <input type="Submit" value="Submit" class="btn btn-primary" onclick="SubmitForm(); return false;" /> </div>
                    </div>





                }
                <div class="default-top-margin clear-fix">
                    <hr />
                    @Html.ActionLink("<< Back to Leads", "ValidateLeads", "BookerUser")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydatatables")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/supplierhelpers")
    @Scripts.Render("~/bundles/leadfollowup")
    @Scripts.Render("~/bundles/placeholderpolyfill")
    @Scripts.Render("~/bundles/jqueryCheckbox")
    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();

        $(function () {
            $('input[type="checkbox"]').checkboxpicker();
        });

        function SubmitForm() {
            $.validator.unobtrusive.parse('#LookUpLeadForm');
            $('#LookUpLeadForm').validate();
            if ($('#LookUpLeadForm').valid()) {
                $.ajax({
                    url: '/BookerUser/LeadLookup',
                    data: { leadId: $('#Id').val(), verified: $('a.active').text(), memberNo: $('#MemberNumber').val() },
                    type: 'POST',
                    success:
                        function(data) {
                            if (data.error) {
                                $('#validation').removeClass('hide').addClass('show');
                                $('#MemberNumber').addClass('input-error');
                                return;
                            } else {
                                $('#validation').removeClass('show').addClass('hide');
                                window.location.href = "../ValidateLeads";
                            }


                        },
                    error: function() {
                    }

                });
            } else {
                $('#validation').removeClass('show').addClass('hide');
            };
        }

    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}