@using System.Web.UI.WebControls
@using Booker.WebUI.Helpers
@using Booker.Common
@using Booker.Data.Entities

@model Member

@{
    ViewBag.Title = "Member Lookup Up";
    ViewBag.MenuSection = "Home-menu";

    string currentStatus = string.Empty;

    currentStatus = @Model.MemberStatus == 1 ? "Active" : "On Stop";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("MemberLookup", "BookerUser", null, FormMethod.Post, new { id = "MemberLookUpForm", @class = "input-form" }))
                {


                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()

                
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member ID:</strong></span>
                        </div>
                        <div class="col-xs-9"> &nbsp; <span class="form-control-static">@Model.Id</span></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Number:</strong></span>


                        </div>
                        <div class="col-xs-9"> &nbsp;<span class="form-control-static">@Model.CustomerMemberNumber</span></div>
                    </div>

                   <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Name:</strong></span>


                        </div>
                        <div class="col-xs-9"> &nbsp; <span class="form-control-static">@Model.Name</span></div>
                    </div>
                     
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Since:</strong></span>


                        </div>
                        <div class="col-xs-9">&nbsp;  <span class="form-control-static">@Model.Created</span></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Status:</strong></span>


                        </div>
                        <div class="col-xs-9"> &nbsp; <span class="form-control-static">@currentStatus</span></div>
                    </div>


                    if (Model.MemberStatus == 1)
                    {

                        <div class="row default-top-margin default-bottom-margin">
                            <div class="form-group col-xs-2">
                                </div>
                            <div class="col-xs-9">
                                @Html.ActionLink("Stop Member", "StopMember", new { Id = @Model.Id }, new { @class = "btn btn-warning" })

                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row default-top-margin default-bottom-margin">
                            <div class="form-group col-xs-2">
                               </div>
                            <div class="col-xs-9">
                                @Html.ActionLink("Re-activate Member", "ActivateMember", new { Id = @Model.Id }, new { @class = "btn btn-success" })

                            </div>
                        </div>
                    }
                    

                }
                <div class="default-top-margin clear-fix">
                    <hr />
                    @Html.ActionLink("<< Back to Active Members", "MembersActive", "BookerUser")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydatatables")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/supplierhelpers")
    @Scripts.Render("~/bundles/leadfollowup")
    @Scripts.Render("~/bundles/placeholderpolyfill")
    @Scripts.Render("~/bundles/jqueryCheckbox")
    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();

        $(function () {
            $('input[type="checkbox"]').checkboxpicker();
        });

    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}