@using Booker.WebUI.Helpers
@using Booker.WebUI.Models
@model IEnumerable<LeadModel>

@{
    ViewBag.Title = "Process Leads";
    ViewBag.MenuSection = "home-menu";
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h2 class="tablesPage">Leads to Validate</h2>


                <table id="validate-leads" class="responsive clicktable" data-empty-table="There are no leads to be validated at present!">
                    <thead>
                        <tr>
                            <th>Lead Id</th>
                            <th>Member Number</th>
                            <th>Member Name</th>
                            <th>Contact Number</th>

                            <th class="hidden">Follow Up</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Id</td>
                                <td>@item.MemberNumber</td>
                                <td>@item.Name</td>
                                <td>@item.ContactNumber</td>

                                <td class="hidden">@Html.ActionLink("Follow Up", "LeadLookup", "BookerUser", new { id = @item.Id }, null)</td>
                            </tr>

                        }
                    </tbody>
                    <tfoot></tfoot>
                </table><br />

            </div>

        </div>
        <div class="row col-xs-12">
            <div class="pull-left default-top-margin clear-fix">@Html.ActionLink("<< Back to Home", "Index") </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}
