@using Booker.Common
@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.ConfirmETAModel
@{
    ViewBag.Title = "Job ETA Entry";
    ViewBag.MenuSection = "jobs-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("ConfirmETA", "Supplier", new {jobRef = Request.QueryString["jobRef"]}, FormMethod.Post, new {@class = "input-form"}))
                {
                    if (ViewData.Model.JobType == null)
                    {
                        <div class="col-md-12 alert-danger center-text">
                            <p>An Error occurred while retreiving this job</p>
                        </div>
                    }
                    @Html.HiddenFor(m => m.DueDate)
                    @Html.HiddenFor(m => m.JobType)
                    @Html.HiddenFor(m => m.SiteName)
                    @Html.HiddenFor(m => m.FaultServiceDescription)
                    @Html.HiddenFor(m => m.Notes)
                    @Html.HiddenFor(m => m.ETAWindows)
                    @Html.HiddenFor(m => m.CallingPage) 
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "We're missing some information:")
                    <div class="form-group">
                        <strong>Job Ref:</strong> @Request.QueryString["jobRef"]
                    </div>
                    <div class="form-group">
                        <strong>Job Type:</strong> @Model.JobType
                    </div>
                    <div class="form-group">
                        <strong>Store Name:</strong> @Model.SiteName
                    </div>
                    <div class="form-group">
                        <strong>
                            @(Model.JobType == JobTypes.PPM ? "PPM Type:" : "Fault Service:")
                        </strong> @Model.FaultServiceDescription
                    </div>
                    <div class="form-group">
                        <strong>Fault Type:</strong> @Model.FaultRisk
                    </div>
                    <div class="form-group">
                        <strong>Priorty:</strong> @Model.FaultPriority
                    </div>
                    <div class="form-group">
                        <strong>Notes:</strong> @Model.Notes
                    </div>
                    <div class="form-group">
                        <strong>Due Date:</strong> @Html.TextOrEmptyString(Model.DueDate.ToCurrentCultureShortDate())
                    </div>
                    <div class="form-inline">
                        <span><strong>ETA Date:</strong></span><span class="eta-date-warning"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>  Warning. This date is after the Due Date.</span><br/>
                        @Html.BootstrapTextBoxFor(m => m.ETADate, new {@class = "jquery_datepicker", autocomplete = "off"})
                        @*@Html.BootstrapTextBoxFor(m => m.ETATime, new {autocomplete = "off", maxlength = 5})*@
                        @Html.BootstrapDropDownListFor(m => m.ETAWindowId, new SelectList(Model.ETASelectList, "Value", "Text"))
                    </div>
                    <div class="form-group">
                        @Html.BootstrapLabelFor(m => m.SupplierReference)
                        @Html.BootstrapTextBoxFor(m => m.SupplierReference)
                    </div>
                    if (ViewData.Model.JobType != null)
                    {
                        <p>
                            <input name="confirm" type="submit" id="confirmNow" value="Confirm ETA" class="btn btn-primary" />
                            <input name="confirm" type="submit" id="confirmLater" value="Confirm ETA Later" class="btn btn-danger cancel" />
                        </p>
                    }
                }
                <div class="default-top-margin clear-fix">
                    <hr/>
                        @Html.ActionLink("<< Back", Model.CallingPage, "Supplier")
                        @*@Html.ActionLink("<< Back to Jobs Awaiting ETA", "JobsAwaitingETA", "Supplier")*@
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/supplierhelpers")
    @Scripts.Render("~/bundles/placeholderpolyfill")
    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();
    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}
