@using Booker.WebUI.Helpers
@using Booker.WebUI.Models
@using Booker.Common
@using Booker.WebUI.Extensions

@model SupplierCreditNoteModel

@{
    ViewBag.Title = "Credit Note";
    ViewBag.MenuSection = "invoices-menu";
}

@section css {
    @Styles.Render("~/Content/themes/base/css")
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Enter Credit Note Details</h2>
                @if (Model.IsQueried)
                {
                    <div class="validation-summary-errors">
                        This credit note has been queried for the following reason:
                        <br />
                        <br />
                        <ul style="margin-bottom: 0">
                            <li>@Model.QueryReason</li>
                        </ul>
                        <br />
                        Please resolve this issue by amending the credit note. You can optionally add some notes for the @Booker.Common.CompanyStrings.AbbreviatedName Helpdesk below.
                    </div>
                }
                @if (Model.WorkOrder != null)
                {
                    @Html.HiddenFor(m => m.WorkOrder.WorkOrderRef)
                    <a id="JobDetails"></a>
                    <table>
                        <thead>
                            <tr>
                                <th>Work Order Ref</th>
                                <th>Job Ref</th>
                                <th>Site</th>
                                <th>Job Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.TextOrEmptyString(Model.WorkOrder.WorkOrderRef)</td>
                                <td>@string.Format("{0:0}", Model.WorkOrder.JobRef)</td>
                                <td>@Html.TextOrEmptyString(Model.WorkOrder.SiteName)</td>
                                <td>@Html.TextOrEmptyString(Model.WorkOrder.AlarmDate.ToCurrentCultureDateTime())</td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>

                    @Html.ValidationSummary(true, "This credit note has errors, please correct", new { @class = "default-top-margin" })

                    <a id="InvoiceHeaderTable"></a>
                    <table class="default-top-margin nonclickable">
                        <thead>
                            <tr>
                                <th>Credit Note Number</th>
                                <th>Credit Note Date</th>
                                <th>Invoice Number</th>
                                <th class="right-text">Net Amount (£)</th>
                                <th class="right-text">Vat Amount (£)</th>
                                <th class="right-text">Gross Amount (£)</th>
                                <th class="center-text">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.CreditNoteHeaderModel.CreditNumber</td>
                                <td>@Model.CreditNoteHeaderModel.CreditNoteDate</td>
                                <td>@Model.CreditNoteHeaderModel.InvoiceNumber</td>
                                <td class="right-text">@Html.DecimalToCurrencyString(Model.CreditNoteHeaderModel.NetAmount)</td>
                                <td class="right-text">@Html.DecimalToCurrencyString(Model.CreditNoteHeaderModel.VatAmount)</td>
                                <td class="right-text">@Html.DecimalToCurrencyString(Model.CreditNoteHeaderModel.GrossAmount)</td>
                                <td class="center-text">@Html.ActionLink("Edit", "EditCreditNoteHeader", "Supplier", new { workOrderRef = Model.WorkOrder.WorkOrderRef }, null)</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>

                    <a id="CreditNoteLines"></a>
                    <div id="CreditNoteLinesBody"></div>

                    <a id="CreditNoteDocuments"></a>
                    <table id="upload-docs" class="default-top-margin nonclickable">
                        <thead>
                            <tr>
                                <th colspan="4" class="col-span">Please upload the following documents:</th>
                            </tr>
                            <tr>
                                <th>Document Type</th>
                                <th>Reference Number</th>
                                <th class="center-text">Action</th>
                                <th class="center-text">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="doc-symbol" data-missing-class="doc-missing" data-missing-text="Upload Required">
                                <td>@CreditNoteDocumentType.GetDescription(CreditNoteDocumentType.Credit)</td>
                                <td>@Model.CreditNoteHeaderModel.CreditNumber</td>
                                <td class="center-text">@ShowDocumentLink(Model.CreditUpload)</td>
                                <td>@ShowDocumentStatus(Model.CreditUpload.IsExistingFile)</td>
                            </tr>

                        </tbody>
                    </table>

                    using (Html.BeginForm("SubmitCreditNote", "Supplier", new { workOrderRef = @Model.WorkOrder.WorkOrderRef }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.IsQueried)
                        @*@Html.HiddenFor(m => m.CreditNoteHeaderModel.Id)*@
                        if (Model.IsQueried)
                        {
                            <div class="default-top-margin">
                                <span><strong>Supplier Notes:</strong></span>
                                @Html.TextAreaFor(model => model.QueryResponse, new { @class = "invoice-query-supplier-notes form-control", @placeholder = "Enter your Supplier Notes", maxlength = 1000 })
                            </div>

                        }
                        <hr class="default-top-margin" />
                        <p>
                            Click on the Submit Credit Note button below to send the credit note to @Booker.Common.CompanyStrings.AbbreviatedName. Please
                            note that you won't be able to make any further changes to the credit note once it has
                            been submitted.
                        </p>
                        <p>
                            <input type="submit" value="Submit Credit Note" class="btn btn-primary" /> &nbsp;
                            @*<input id="btnSaveNotes" value="Save Notes" class="btn btn-warning" />*@
                        </p>
                        @*<p id="resultContainer" class="warning-text hide"></p>*@
                    }

                    <div class="default-top-margin clear-fix">
                        <hr />
                        @Html.ActionLink("<< Back to Credits in Query", "CreditNotesInQuery", "Supplier")
                    </div>

                    @section scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                        @Scripts.Render("~/bundles/jqueryui")
                        @Scripts.Render("~/bundles/handlebars")
                        @Scripts.Render("~/bundles/placeholderpolyfill")
                        @Scripts.Render("~/bundles/supplierhelpers")
                        @Scripts.Render("~/bundles/creditnoteline")
                    }
                }
                else
                {
                    <p>No work order could be found to invoice.</p>
                }

                @helper ShowDocumentStatus(bool isExisting)
{
    if (isExisting)
    {
        <span class="doc-uploaded">Uploaded</span>
    }
    else
    {
        <span class="doc-missing">Upload Required</span>
    }
}

                @helper ShowDocumentLink(UploadFileViewModel fileUploadModel)
{
    if (fileUploadModel.IsExistingFile)
    {
        @Html.ActionLink("Delete", "DeleteCreditNoteDocument", "Supplier", new { uploadType = fileUploadModel.UploadType, workOrderRef = Model.WorkOrder.WorkOrderRef, documentRef = fileUploadModel.DocumentRef }, new { @class = "delete-doc", data_title = "Delete " + @Html.InvoiceDocumentTypeText(fileUploadModel.UploadType), data_ajax_post_url = @Url.Action("DeleteInvoiceDocument") })
    }
    else
    {
        @Html.ActionLink("Upload", "UploadCreditNoteDocument", "Supplier", new { uploadType = fileUploadModel.UploadType, workOrderRef = Model.WorkOrder.WorkOrderRef, documentRef = fileUploadModel.DocumentRef }, null)
    }
}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="NewLineModal" tabindex="-1" role="dialog" aria-labelledby="NewLineLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="NewLineLabel">Add New Line to the CreditNote</h4>
            </div>
            <div class="modal-body">
                <!-- Content goes here. -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="AddNewLine">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteLineModal" tabindex="-1" role="dialog" aria-labelledby="DeleteLineLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeleteLineLabel">Delete Invoice Line</h4>
            </div>
            <div class="modal-body">
                <!-- Content goes here. -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="DeleteLine">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditLineModal" tabindex="-1" role="dialog" aria-labelledby="EditLineLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="EditLineLabel">Edit Invoice Line</h4>
            </div>
            <div class="modal-body">
                <!-- Content goes here. -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="EditLine">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteInvoiceDocModal" tabindex="-1" role="dialog" aria-labelledby="DeleteInvoiceDocLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="DeleteInvoiceDocLabel">Delete Document</h4>
            </div>
            <div class="modal-body">
                <!-- Content goes here. -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="DeleteCreditNoteDoc">Delete</button>
            </div>
        </div>
    </div>
</div>
<script id="creditnote-line-template" type="text/x-handlebars-template">
    <table id="detail-lines" class="default-top-margin default-bottom-margin nonclickable">
        <thead>
            <tr>
                <th>Description</th>
                <th>Type</th>
                <th class="right-text">Quantity</th>
                <th class="right-text">Unit Price (£)</th>
                <th class="right-text">Value (£)</th>
                <th class="center-text">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {{#each CreditNoteLineModels}}
            <tr data-id="{{Id}}">
                <td><a class="edit-detail-line" href="/Supplier/EditCreditNoteLine?workOrderRef={{WorkOrderRef}}&id={{Id}}">{{Description}}</a></td>
                <td>{{CreditNoteLineTypeDescription}} {{#if_eq CreditNoteLineTypeDescription 'Parts'}}({{PartNumber}}){{/if_eq}}</td>
                <td class="right-text">{{Quantity}}</td>
                <td class="right-text">{{decimal UnitPrice}}</td>
                <td class="right-text in-total-line-value">{{decimal LineValue}}</td>
                <td class="center-text"><a class="delete-detail-line" href="/Supplier/DeleteCreditNoteLine?workOrderRef={{WorkOrderRef}}&id={{Id}}">Delete</a></td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" style="text-align: center">
                    There are no credit note Lines.
                </td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="hide-right-border">
                    @Html.ActionLink("Add New Line to Credit Note", "CreateCreditNoteLine", "Supplier", new { workOrderRef = @Model.WorkOrder.WorkOrderRef }, new { @class = "add-detail-line" })
                </td>
                <td class="right-text">Total Value ($):</td>
                <td class="right-text"><span id="TotalLineValue" class="cost">{{decimal TotalLineValue}}</span></td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>
    </table>
</script>

