@using Booker.Common
@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.DeclineJobModel
@{
    ViewBag.Title = "Decline Job";
    ViewBag.MenuSection = "jobs-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("DeclineJob", "Supplier", new {jobRef = Request.QueryString["jobRef"]}, FormMethod.Post, new {@class = "input-form"}))
                {
                    if (@Request.QueryString["jobRef"] == null)
                    {
                        <div class="col-md-12 alert-danger center-text">
                            <p>An Error occurred while retreiving this job</p>
                        </div>
                    }
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "We're missing some information:")
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Job Ref:</strong> @Request.QueryString["jobRef"]
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.DeclineReason)
                        @*</div>
                        <div class="col-md-2">*@
                            @Html.DropDownListFor(m => m.DeclineReason, new SelectList(Model.ReasonSelectList, "Value", "Text"))
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <strong>@Html.LabelFor(m => m.Notes)</strong>
                            @Html.TextAreaFor(m => m.Notes)
                        </div>
                    </div>
                    <p>
                        <input name="Decline" id="Decline" type="submit" value="Decline" class="btn btn-danger"/>
                        <input name ="Decline" id="Cancel" type="submit" value="Cancel" class="btn btn-primary" />
                    </p>
                }
                <div class="default-top-margin clear-fix">
                    <hr/>
                    @Html.ActionLink("<< Back to Jobs Awaiting Confirmation", "JobsAwaitingConfirmation", "Supplier")
                </div>
            </div>
        </div>
    </div>
</div>

@*@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/supplierhelpers")
    @Scripts.Render("~/bundles/placeholderpolyfill")
    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();
    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}*@




