@model Booker.WebUI.Models.SupplierInvoiceModel

@{
    ViewBag.Title = Model.IsInvoiceGenerated ? "Edit Invoice Details" : "Create Invoice";
    ViewBag.MenuSection = "invoices-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>
                @if (Model.WorkOrder != null)
                {
                    @Html.Partial("_WorkOrderDetails", Model.WorkOrder)

                    using (Html.BeginForm("EditInvoiceHeader", "Supplier", FormMethod.Post, new {@class = "input-form"}))
                    {
                        <a id="InvoiceHeader"></a>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "We're missing some information:")
                        @Html.Partial("_InvoiceHeaderFields", Model.InvoiceHeader)
                    }

                    <div class="default-top-margin clear-fix">
                        <hr/>
                        @if (Model.IsInvoiceGenerated)
                        {
                            @Html.ActionLink("<< Back to Invoice", "Invoice", "Supplier", new {workOrderRef = Model.InvoiceHeader.WorkOrderRef}, null)
                        }
                        else
                        {
                            if(Session["accountsPayable"] == null)
                            {
                                @Html.ActionLink("<< Back to Orders Awaiting Invoice", "OrdersAwaitingInvoice", "Supplier")
                            }
                            else
                            {
                                @Html.ActionLink("<< Back to Orders Awaiting Invoice", "OrdersAwaitingInvoice", "AccountsPayable")
                            }
                        }
                    </div>
                }
                else
                {
                    <p>No work order could be found to invoice.</p>
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/placeholderpolyfill")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/supplierhelpers")
    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();
    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}