@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.SupplierInvoiceModel

@{
    ViewBag.Title = "Invoice Submitted";
    ViewBag.MenuSection = "invoices-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Invoice Submitted Successfully</h2>
                @if(Session["AccountsPayable"] == null)
                {
                    <p>Thank you for submitting your invoice. The invoice has been sent to @Booker.Common.CompanyStrings.AbbreviatedName.</p>
                }
                <table class="horiz-table submission">
                    <tbody>
                        <tr>
                            <th class="right-text w33">Work Order Ref</th>
                            <td>@Html.TextOrEmptyString(Model.WorkOrder.WorkOrderRef)</td>
                        </tr>
                        @if(Model.WorkOrder.JobRef != 0)
                        {
                            <tr>
                                <th class="right-text">Job Ref</th>
                                <td>@string.Format("{0:0}", Model.WorkOrder.JobRef)</td>
                            </tr>
                            <tr>
                                <th class="right-text">Site</th>
                                <td>@Html.TextOrEmptyString(Model.WorkOrder.SiteName)</td>
                            </tr>
                            <tr>
                                <th class="right-text">Job Date</th>
                                <td>@Html.TextOrEmptyString(Model.WorkOrder.AlarmDate.ToCurrentCultureDateTime())</td>
                            </tr>
                        }
                        <tr>
                            <th class="right-text">Invoice Number</th>
                            <td>@Model.InvoiceHeader.InvoiceNumber</td>
                        </tr>
                        <tr>
                            <th class="right-text">Invoice Date</th>
                            <td>@Model.InvoiceHeader.InvoiceDate</td>
                        </tr>
                        <tr>
                            <th class="right-text">Net Amount ($)</th>
                            <td>@Html.DecimalToCurrencyString(Model.InvoiceHeader.NetAmount)</td>
                        </tr>
                        <tr>
                            <th class="right-text">Tax Amount ($)</th>
                            <td>@Html.DecimalToCurrencyString(Model.InvoiceHeader.TaxAmount)</td>
                        </tr>
                        <tr>
                            <th class="right-text">Gross Amount ($)</th>
                            <td>@Html.DecimalToCurrencyString(Model.InvoiceHeader.GrossAmount)</td>
                        </tr>
                        <tr>
                            <th class="right-text">Date Submitted</th>
                            <td>@Html.TextOrEmptyString(Model.InvoiceHeader.SubmissionDateUtc.ToCurrentCultureShortDate())</td>
                        </tr>
                    </tbody>
                </table>
                <div class="default-top-margin clear-fix">
                    <hr/>
                    @if (Model.RedirectToQueryView)
                    {
                        @Html.ActionLink("<< Back to Invoices in Query", "InvoicesInQuery")
                    }
                    else
                    {
                        if (Session["accountsPayable"] == null)
                        {
                            @Html.ActionLink("<< Back to Orders Awaiting Invoice", "OrdersAwaitingInvoice", "Supplier")
                        }
                        else
                        {
                            @Html.ActionLink("<< Back to Orders Awaiting Invoice", "OrdersAwaitingInvoice", "AccountsPayable")
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>