@using Booker.WebUI.Helpers
@model IEnumerable<Booker.WebUI.Models.InvoicesInQueryModel>

@{
    ViewBag.Title = "Invoices in Query";
    ViewBag.MenuSection = "invoices-menu";
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@ViewBag.Title</h2>

                <table id="invoices-in-query" class="clicktable responsive" data-empty-table="There are no invoices in query">
                    <thead>
                        <tr>
                            <th>Work Order Ref</th>
                            <th>Job Ref</th>
                            <th>Site</th>
                            <th>Invoice Ref</th>
                            <th>Invoice Date</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.ActionLink(item.WorkOrderRef, "Invoice", "Supplier", new { workOrderRef = item.WorkOrderRef,soureAction="InvoicesInQuery" }, null)</td>
                                <td>@item.JobRef</td>
                                <td>@item.SiteName</td>
                                <td>@item.InvoiceNumber</td>
                                <td>@Html.TextOrEmptyString(item.InvoiceDate.ToShortDateString())</td>
                                <td>@item.Reason</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}
