@using Booker.WebUI.Helpers
@using Booker.Common
@using Booker.WebUI.Extensions
@model Booker.WebUI.Models.StartJobModel
@{
    ViewBag.Title = "Start Job";
    ViewBag.MenuSection = "jobs-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm("StartJob", "Supplier", new { jobRef = Request.QueryString["jobRef"] }, FormMethod.Post, new { @class = "input-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "We're missing some information:")
                    <div class="form-group">
                        <strong>Job Ref:</strong> @Request.QueryString["jobRef"]
                    </div>
                    <div class="form-group">
                        <strong>Job Type:</strong> @Model.JobType
                    </div>
                    <div class="form-group">
                        <strong>Supplier Reference:</strong> @Model.SupplierReference
                    </div>
                    <div class="form-group">
                        <strong>Site Name:</strong> @Model.SiteName
                    </div>
                    <div class="form-group">
                        <strong>
                            @(Model.JobType == JobTypes.PPM ? "PPM Type:" : "Fault Service:")
                        </strong> @Model.FaultServiceDescription
                    </div>
                    <div class="form-group">
                        <strong>Notes:</strong> @Model.Notes
                    </div>
                    <div class="form-group">
                        <strong>Due Date:</strong> @Html.TextOrEmptyString(Model.DueDate.ToCurrentCultureShortDate())
                    </div>
                    <p>
                        <input type="submit" value="Start Work" class="btn btn-primary"/>
                        <input type="submit" value="Request Uplift" class="btn btn-danger" />
                    </p>
                }
                <div class="default-top-margin clear-fix">
                    <hr />
                    @Html.ActionLink("<< Back to Open Jobs", "JobsOutstanding", "Supplier")
                </div>
            </div>
        </div>
    </div>
</div>