@model Booker.WebUI.Models.PoSearch

@{
    ViewBag.Title = "Submit Credit";
    ViewBag.MenuSection = "invoices-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="default-bottom-margin">@ViewBag.Title</h2>
                <br />

                <div class="row">
                    <div class="col-xs-12 noMargin noPadding">
                        @using (Html.BeginForm("SubmitCredit", "Supplier", new { @class = "form-horizontal" }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()

                            <div class="col-xs-10">
                                <span class="col-xs-3 default-top-margin noPadding"><strong>Enter Purchase Order No</strong></span>
                                <span class="col-xs-4 noMargin"> @Html.TextBoxFor(model => model.SearchPO, new { @class = "form-control",Value="" }) </span>
                                <span class="col-xs-2 noPadding"><input type="submit" value="Search" class="btn btn-primary" /></span>

                            </div>

                        }

                    </div>
                </div>




            </div>
        </div>
    </div>
</div>
@section scripts {
    
    <script  type="text/javascript">
        


    </script>
    

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/placeholderpolyfill")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/supplierhelpers")
    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();
    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}