@using Booker.WebUI.Enums
@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.QuoteApprovalScenariosModel

@{
    ViewBag.MenuSection = "quotes-menu";
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@Model.Title</h2>
                <table id="quotes-awaiting-approval" class="responsive clicktable" data-empty-table="There are no quotes">
                    <thead>
                        <tr>
                            <th>Job Ref</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Value (£)</th>
                            <th>Main Type</th>
                            <th>Fault Service</th>
                            @if (!User.IsInRole(UserManagementHelper.SiteManagerRoleName) && !User.IsInRole(UserManagementHelper.MemberRoleName))
                            {
                                <th>Supplier</th>
                            }
                            <th>Queried</th>
                            <th>Site</th>
                            <th>Priority</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.QuoteScenarios)
                        {
                            var rowClass = item.IsMultiQuote ? "clickable multi-quote" : "clickable";

                            <tr class="@rowClass">
                                @if (Model.IsReadOnly)
                                {
                                    <td>@item.JobRefToString</td>
                                }
                                else
                                {
                                    <td>@Html.ActionLink(item.JobRefToString, "ApprovalDecision", "QuotesAwaitingApproval", new { id = item.Id }, null)</td>
                                }
                                <td>@Html.TextOrEmptyString(item.DateCreated.ToCurrentCultureDateTime())</td>
                                <td>@item.Description</td>
                                <td class="right-text">@( UserManagementHelper.IsUserInRole(UserRoleType.Supplier) ? Html.DecimalToCurrencyString(item.CostMinusUplift) : Html.DecimalToCurrencyString(item.Cost))</td>
                                <td>@item.MainType</td>
                                <td>@item.FaultService</td>
                                @if (!User.IsInRole(UserManagementHelper.SiteManagerRoleName) && !User.IsInRole(UserManagementHelper.MemberRoleName))
                                {
                                    <td>@item.SupplierNames</td>
                                }
                                <td>@Html.BoolToString(item.IsQueried)</td>
                                <td>@item.SiteName</td>
                                <td>@item.Priority</td>
                                @*<td>@Html.Action("GetQuotePriorityById",new{id=@item.Id})</td>*@
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}