@using Booker.WebUI.Extensions
@model Booker.Data.Entities.CreditNoteQuery

<tr>
    <td>@Model.QueryText</td>
    <td>@Model.CreatedOn.ToCurrentCultureShortDate()</td>
    <td>@Model.Response</td>
    @{

        var responseDate = Model.RespondedOn.HasValue ? @Model.RespondedOn.ToCurrentCultureShortDate() : string.Empty;
    }
    <td>@responseDate</td>

</tr>
