@using Booker.Data.Entities

@model List<Store>


         
              <table id="memberSitesList" class=" table-responsive table-bordered table-condensed table-hover table-responsive">
                    <tr>

                        <th class="col-sm-3">Site Name</th>
                        <th class="col-sm-3">Address Line 1</th>
                        <th class="col-sm-2">Address Line 2</th>
                        <th class="col-sm-2">City</th>
                        <th class="col-sm-2">Post Code</th>

                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="col-sm-3">@item.Name</td>
                            <td class="col-sm-3">@item.Address1</td>
                            <td class="col-sm-2">@item.Address2</td>
                            <td class="col-sm-2">@item.TownCity</td>
                            <td class="col-sm-2">@item.PostCode</td>
                        </tr>
                    }

                </table>


          
