@using System.Threading
@using Booker.WebUI.Models
@model List<PackageDisplayItem>

    @for (int i = 0; i < Model.Count; i++)
    {
        @Html.HiddenFor(x => x[i].PackageId)
        <tr id="@Model[i].PackageId">
            <td>
                @Html.DisplayFor(x => x[i].Name)
            </td>
            <td>
                @*<input class="pull-left" id="rad_@item.PackageId" name="rad_@item.PackageId" type="radio" value="1"><label class="pull-left">Yes&nbsp;&nbsp;</label>
                    <input class="pull-left" id="rad_@item.PackageId" name="rad_@item.PackageId" type="radio" value="2"><label class="pull-left">No&nbsp;&nbsp;</label>*@

                @Html.RadioButtonFor(x => x[i].IsSubscribed, true, new { @class = "pull-left " })<label class="pull-left">Yes&nbsp;&nbsp;</label>
                @Html.RadioButtonFor(x => x[i].IsSubscribed, false, new { @class = "pull-left" })<label class="pull-left">No</label>
            </td>
            <td>
                @Html.TextBoxFor(x => x[i].LastServiceDate, string.Format("{{0:}}{0}", Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern), new { @class = "jquery_datepicker form-control", autocomplete = "off" })
            </td>
            <td>
                @Html.TextBoxFor(x => x[i].ProposedDate, string.Format("{{0:}}{0}",Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern)", new { @class = "jquery_datepicker form-control", autocomplete = "off" })
            </td>
        </tr>

    }
