@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.QuoteHeaderModel

@{
    string legendText = Model.IsNew ? "Create Quote" : "Edit Quote";
    string buttonText = Model.IsNew ? "Start Quote" : "Save Changes";
}

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.JobRef)
<div class="header-row">
    <div class="form-group">
        <strong>Quote Reference:</strong>
        @Html.BootstrapTextBoxFor(m => m.QuoteRef)
    </div>
    <div class="form-group">
        <strong>Description of Works:</strong>
        @Html.TextAreaFor(model => model.DescriptionOfWorks, new { @class = "works-description form-control", @placeholder = "Enter your Description of Works" })
    </div>
    <div class="form-group">
        <strong>Proposed Working Times:</strong>
        @Html.TextAreaFor(model => model.ProposedWorkingTimes, new { @class = "proposed-working-times form-control", @placeholder = "Enter your Proposed Working Times" })
    </div>
    <div class="form-group">
        <strong>Priority:</strong>
        @Html.DropDownListFor(model => model.Priority,Model.PriorityListItems, new { @class = "form-control", @placeholder = "Select priroity for this quote" })
    </div>
</div>
<p class="buttons">
    <input type="submit" value="@buttonText" class="btn btn-primary" />
</p>