@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model  IEnumerable<Booker.WebUI.Models.SupplierQuoteQueryResponseModel>

<table class="query-history default-top-margin">
    <thead>
        <tr>
            <th>Query Date</th>
            <th>Query From</th>
            <th>Query/Response</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var query in Model)
        {
            <tr>
                <td>@Html.TextOrEmptyString(@query.QueryDate.ToCurrentCultureDateTime())</td>
                <td>@Html.TextOrEmptyString(@query.QueryFrom)</td>
                <td><p class="query">@Html.TextOrEmptyString(query.QueryText)</p><p>@Html.TextOrEmptyString(query.Response)</p></td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
