@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.QuoteLineModel

<tr data-id="@Model.Id">
    <td>@Html.ActionLink(@Model.Description, "EditQuoteLine", "Quote", new { jobRef = @Model.JobRef, id = @Model.Id }, new { @class = "edit-detail-line", @data_title = "Edit Quote Line", data_ajax_post_url = @Url.Action("EditQuoteLine", "Quote") })</td>
    <td>@Model.QuoteLineTypeDescription
        @if (string.Equals(Model.QuoteLineTypeDescription, Booker.Common.QuoteLineTypes.Parts, StringComparison.InvariantCultureIgnoreCase) && !string.IsNullOrEmpty(Model.PartNumber))
        {
            @:@string.Format(" ({0})", Model.PartNumber)
        }
    </td>
    <td class="right-text">@Html.DecimalToString(Model.Quantity)</td>
    <td class="right-text">@Html.DecimalToThreePointPrecisionCurrencyString(Model.UnitPrice)</td>
    <td class="right-text in-total-line-value">@Html.DecimalToCurrencyString(Model.LineValue)</td>
    <td class="center-text">@Html.ActionLink("Delete", "DeleteQuoteLine", "Quote", new { jobRef = @Model.JobRef, id = @Model.Id }, new { @class = "delete-detail-line", @data_title = "Delete Quote Line", data_ajax_post_url = @Url.Action("DeleteQuoteLine", "Quote") })</td>
</tr>
