@model Booker.WebUI.Models.SupplierQuoteQueryResponseModel

<fieldset class="quote-query">
    <legend>Query Response</legend>

    @Html.HiddenFor(model => model.JobRef)
    @Html.HiddenFor(model => model.QuoteApprovalScenarioId)
    @Html.HiddenFor(model => model.QuoteApprovalScenarioQueryId)

    <div class="editor-for">
        @Html.LabelFor(model => model.Response)
        <div class="editor-field">
            @Html.EditorFor(model => model.Response)
            @Html.ValidationMessageFor(model => model.Response)
        </div>
    </div>
    @Html.ValidationSummary(true)
    <p class="buttons">
        <input type="submit" value="@Model.SendResponseActionValue" name="SubmitAction" class="btn btn-primary"/>
        <input type="submit" value="@Model.EditQuoteActionValue" name="SubmitAction" class="btn btn-default"/>
    </p>

</fieldset>
