@model Booker.WebUI.Models.UploadFileViewModel

<fieldset>
    <legend>File Upload</legend>

    @this.Html.ValidationMessageFor(model => model.FileToUpload)
    @this.Html.LabelFor(model => model.FileToUpload)
    @this.Html.TextBoxFor(model => model.FileToUpload, new { type = "file" })
    <p class="small-text">Maximum file size is 4 MB and the file must be a @string.Join(", ", @Model.ValidFileExtensions)</p>
   
    @this.Html.HiddenFor(model => model.UploadType)
    @this.Html.HiddenFor(model => model.UploadRef)
    @Html.HiddenFor(model => model.DocumentRef)

</fieldset>
    
@if (ViewContext.ViewData.ModelState.Keys.Any(string.IsNullOrEmpty))
{
    // Only show the validation summary if there are non-property errors
    @Html.ValidationSummary(true)
}
