@{
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<span id="reportTitle" class="hidden">@ViewBag.ReportName</span>
<span id="folderPath" class="hidden">@ViewBag.FolderPath</span>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">Report - @ViewBag.ReportName</h2>
                <div id="Report">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group default-top-margin">
                    @Html.ActionLink("<< Back", "ReportsList", @controller, null, null)
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var controller = '@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()';
            $.ajax({
                url: '/' + controller + '/RenderReport',
                data: { reportTitle: $('#reportTitle').text(), path: $('#folderPath').text() },
                type: 'POST',
                success:
                function (data) {
                    $('#Report').html(data);
                }
            });
        });
    </script>
}
