@model List<Booker.WebUI.Views.ViewModels.SingleStoreLogin.JobCreateViewModel>
<div class="row">
    <div class="col-md-12">
        <table id="resource-availability" class="responsive clicktable" data-empty-table="All Engineers are currently available.">
            <thead>
                <tr>
                    <th>Fault Id</th>
                    <th>Asset Tag</th>
                    <th>Fault Service</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Reason for Match</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Duplicates)
                {
                    <tr>
                        <td>@item.FaultId</td>
                        <td>@item.AssetTag</td>
                        <td>@item.FaultService</td>
                        <td>@item.Location</td>
                        <td>@item.FaultDescription</td>
                        <td>@item.DuplicateReason</td>
                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <button type="submit" class="btn btn-danger" id="query-btn">Query</button>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <button type="submit" class="btn btn-info" data-dismiss="modal">Continue</button>
    </div>
</div>

<script>
    $(function() {
        $('#query-btn').click(function() {
            $('#modal-container').modal('hide');
        });
    });
</script>