@using Booker.WebUI.Extensions
@model Booker.Data.Entities.JobAwaitingClosedown

@{
    ViewBag.Title = "Query A Job";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>JobAwaitingClosedown</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.JobRef, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.JobRef, new { @readonly="readonly"})
                @Html.ValidationMessageFor(model => model.JobRef)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StoreName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StoreName, new {@readonly = "readonly"})
                @Html.ValidationMessageFor(model => model.StoreName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FaultService, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FaultService, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.FaultService)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Location, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractorReference, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContractorReference, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ContractorReference)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Notes)*@
                @Html.TextAreaFor(
                      model => model.Notes,
                      new { style="width: 400px; height: 200px;" }
                )
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CallOutDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CallOutDate.ToCurrentCultureDateTime(), new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.CallOutDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupplierName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.SupplierName, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.SupplierName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPpm, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IsPpm, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.IsPpm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JobTypeName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.JobTypeName, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.JobTypeName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerifiedComplete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.VerifiedComplete, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.VerifiedComplete)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.VerificationHelpdeskTimestampTypeId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.VerificationHelpdeskTimestampTypeId, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.VerificationHelpdeskTimestampTypeId)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Status, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRefrigerationJob, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.IsRefrigerationJob, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.IsRefrigerationJob)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContractorETADate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContractorETADate, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ContractorETADate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ETAConfirmed, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ETAConfirmed, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ETAConfirmed)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
