@using Booker.WebUI.Helpers
@using System.Web.Script.Serialization;
@using Booker.WebUI.Extensions
@model IEnumerable<Booker.Data.Entities.JobAwaitingClosedown>
@{
    ViewBag.Title = "Jobs Outstanding";
    ViewBag.MenuSection = "quotes-menu";
}

<link href="~/Content/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@ViewBag.Title</h2>
                @if (Model != null)
                {
                    <table id="jobs-awaiting-quote" class="responsive" data-empty-table="There are no Jobs Awaiting Close Down.">
                        <thead>
                            <tr>
                                <th>Job Ref</th>
                                <th>Job Type</th>
                                <th>Callout Time</th>
                                <th>Store</th>
                                <th>Fault Service Description</th>
                                <th>Status</th>
                                <th>Supplier</th>
                                <th>ETA</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var job in Model)
                            {
                                <tr>

                                    <td>@Html.TextOrEmptyString(@job.JobRef.ToString())</td>
                                    <td>@Html.TextOrEmptyString(@job.JobTypeName)</td>
                                    <td>@Html.TextOrEmptyString(@job.CallOutDate.ToCurrentCultureDateTime())</td>
                                    <td>@Html.TextOrEmptyString(@job.StoreName)</td>
                                    <td>@Html.TextOrEmptyString(@job.FaultService)</td>
                                    <td>
                                        @{
                                if (@job.JobTypeName == "PPM")
                                {
                                    @SiteHelper.PPMMappedStatus(Convert.ToInt16(@job.Status))
                                }
                                else
                                {
                                    @job.Status
                                }
                                        }
                                    </td>
                                    <td>@Html.TextOrEmptyString(@job.SupplierName)</td>
                                    <td>@Html.TextOrEmptyString(@job.ContractorETA.ToString())</td>
                                    <td>
                                        <a class="btn btn-primary btn-xs round query-job" href="#" data-job="@Json.Encode(job)">Query</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="JobQueryModal" tabindex="-1" role="dialog" aria-labelledby="NewLineLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="JobQueryModalTitle">Title</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="AddNote">Add</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydatatables")
    <script>
        $(function () {

            $('.query-job').on('click', function (e) {
                var job = JSON.parse(e.target.attributes['data-job'].value);
                $('#JobQueryModalTitle').html('Query Job Ref ' + job.JobRef);
                $.get('/SingleStoreLogin/GetJobQueryPartial?jobRef=' + job.JobRef, function (data) {
                    $('#JobQueryModal .modal-body').html(data);
                    $('#JobQueryModal').modal('show');
                });
            });

            $('#AddNote').on('click', function () {
                var frm = $("#JobQueryForm");
                if (frm.validate() && frm.valid()) {
                    $.ajax({
                        type: "POST",
                        url: "/SingleStoreLogin/QueryAJob",
                        content: "application/json; charset=utf-8",
                        dataType: "json",
                        data: {
                            ContractorRef: $("#ContractorReference").val(),
                            JobRef: $("#JobRef").val(),
                            VerifiedComplete: $("#VerifiedComplete").val(),
                            Note: $("#Note").val() 
                        },
                        success: function (data) {
                            $('#JobQueryModal').modal('hide');
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            $('#ErrorMessage').show();
                        }
                    });
                }
            });
        });
    </script>
}
