@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model IEnumerable<Booker.Data.Entities.ViewQuoteApprovalScenario>

@foreach (var qas in Model)
{
    var query=qas.Queries.First();
    
    <tr>
        <td>@Html.ActionLink(Html.IntOrNaString(qas.JobID).ToHtmlString(), "ApprovalDecision", "QuotesAwaitingApproval", routeValues: new { id = qas.ID, returnUrl = System.Security.Policy.Url.Action("Index") }, htmlAttributes: new { })</td>
        <td>@Html.TextOrEmptyString(query.RespondedOn.ToCurrentCultureDateTime())</td>
        <td>@qas.Description</td>
        <td class="right-text">@Html.DecimalToCurrencyString(qas.Cost)</td>
        @if (ViewBag.UserInKzn)
                {
                    <td>@qas.FaultService</td>
                    <td>@qas.Location</td>
                }
        <td>@Html.AsCommaSeparatedList(qas.Suppliers,(sup)=>sup.Supplier)</td>
        <td>@query.QueryText</td>
        <td>@query.QueryReason.Reason</td>
        <td>@query.Response</td>
    </tr> 
}