@using System.Threading
@using Booker.Common
@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model List<Booker.WebUI.Models.CityJobModel>
@{
    ViewBag.Title = string.Format("{0} Jobs", Booker.Common.CompanyStrings.ShortName);
    ViewBag.MenuSection = "jobs-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h2 class="tablesPage">@ViewBag.Title</h2>

                <table id="safe-and-legal-jobs" class="responsive clicktable" data-empty-table="There are no @Booker.Common.CompanyStrings.ShortName Jobs">
                    <thead>
                        <tr>
                            <th>Job Ref</th>
                            <th>Site</th>
                            <th>PPM Type</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th class="center-text">Certificate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ppmJob in Model)
                        {
                            <tr>
                                <td>@ppmJob.JobRef</td>
                                <td>@ppmJob.SiteName</td>
                                <td>@ppmJob.PPMType</td>
                                <td>@ppmJob.DueDate.ToCurrentCultureDateTime()</td>
                                <td>
                                    @{
                                        var ppmStatus = ppmJob.Status;
                                        switch (ppmStatus)
                                        {
                                            case "Complete":
                                                @ppmJob.CompleteStatus
                                                break;
                                            case "ETA Provided":
                                                @("ETA Provided - " + ppmJob.ContractorEta.ToCurrentCultureDateTime())
                                                @*@("ETA Provided - " + ppmJob.ContractorEta.Value.ToString(string.Format("{0} {1}", Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern, Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortTimePattern)))*@
                                                break;
                                                default:
                                                @ppmJob.Status
                                                break;
                                        }
                                    }
                                    
                                    </td>
                                    @if (string.IsNullOrWhiteSpace(@ppmJob.CertificatePath) || ppmJob.CertificateStatus != CertificateStatus.Verified)
                                    {
                                        <td class="center-text">No Certificate available</td>
                                    }
                                    else
                                    {
                                        <td class="center-text">
                                            @Html.ActionLink("View", "ViewCertificate", "Certificate", new { jobRef = @ppmJob.JobRef }, new { id = "ViewCert", target = "_blank" })
                                        </td>
                                    }
                                </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script type="text/javascript">
        
        $(document).ready(function () {
            // Show in a new window by overriding the href onclick.  Browsers can prevent target="_blank" from functioning.
            $("#ViewCert").on("click", function(e) {                
                window.open(this.href);
                return false;
            });
        });

    </script>

    @Scripts.Render("~/bundles/jquerydatatables")
}