@model Booker.WebUI.Models.MemberHomePageModel
@{
    ViewBag.Title = "Home";
    ViewBag.MenuSection = "home-menu";
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Welcome to the @Booker.Common.CompanyStrings.ShortName Portal</h2>
                <table id="summary" class="clicktable">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th class="right-text">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @CreateActionRow(string.Format("{0}",Booker.Common.CompanyStrings.ShortName), "CityJobs", Model.NumberOfCityJobs)
                        <tr>
                            <td>@Html.ActionLink("All Quotes", "ActiveQuotes", "Quote")</td>
                            <td class="right-text">@string.Format("{0:0}", Model.NumberOfActiveQuotes)</td>
                        </tr>
                        @{
                            if (!User.IsInRole("Site Member"))
                            {
                                <tr>
                                    <td>@Html.ActionLink("Quotes Awaiting Approval", "Index", "QuotesAwaitingApproval")</td>
                                    <td class="right-text">@string.Format("{0:0}", Model.NumberOfQuotesAwaitingApproval)</td>
                                </tr>
                            }
                        }
                        @CreateActionRow("Jobs Outstanding", "JobsOutstanding", Model.NumberOfJobsOutstanding)
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@helper CreateActionRow(string linkText, string actionName, int num, string controllerName = "Member")
{
    <tr>
        <td>@Html.ActionLink(linkText, actionName, controllerName)</td>
        <td class="right-text">@string.Format("{0:0}", num)</td>
    </tr>
}

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}
