@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.RegisterInterestModel
@{
    ViewBag.Title = String.Format("Home - {0}", Booker.Common.CompanyStrings.ShortName);
}

<div id="homeWrapper" class="home-wrapper">
    <section class="home-main">
        <nav class="home-nav hidden-xs">
            <ul id="home-slides">
                <li data-nav="default" data-slide="1">
                    <div class="nav-label">@String.Format("Welcome to {0}", Booker.Common.CompanyStrings.ShortName);</div>
                </li>
                <li data-nav="default" data-slide="2">
                    <div class="nav-label">PAT Testing & Emergency Lighting</div>
                </li>
                <li data-nav="default" data-slide="3">
                    <div class="nav-label">Gas Safety Inspection</div>
                </li>
                <li data-nav="default" data-slide="4">
                    <div class="nav-label">Fire Alarms & Extinguishers</div>
                </li>
                <li data-nav="default" data-slide="5">
                    <div class="nav-label">Fire Sprinkler Systems & Water Testing</div>
                </li>
                <li data-nav="default" data-slide="6">
                    <div class="nav-label" style="display: none; opacity: 1;">Register Interest</div>
                </li>
            </ul>
        </nav>
        <div class="slide-container fouc">
            <div class="slide-wrapper">
                <section class="sc1 slide">
                    <div class="header">
                        <h1 class="light">@String.Format("WELCOME TO {0}", Booker.Common.CompanyStrings.ShortName.ToUpper())</h1>
                        <br /><br />

                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 well-lg">
                                    <p class="text-center">
                                        Maintenance & Compliance Solutions
                                        for Business Premises
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copy align-right">
                        <p>
                            Don't risk your business or excessive call-out charges to carry out compliance checks, we have it all wrapped up at @Booker.Common.CompanyStrings.ShortName.
                        </p>
                        <p>
                            We pride ourselves on providing only the best people to carry out assessment and certification.  Our people are fully trained and qualified to the highest of standards.<br>
                            @Html.ActionLink("COST CALCULATOR", "CalculateCost", null, new { @class = "btn btn-warning" })
                        </p>
                    </div>
                </section>
                <section class="sc2 slide">
                    <div class="header">
                        <h1 class="light">
                            PAT TESTING & EMERGENCY LIGHTING
                        </h1>
                    </div>

                    <div class="copy align-left" style="clear:both;">
                        <div class="container">

                            <div class="row col-xs-11 equal">
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">PAT TESTING</h3>
                                        </div>
                                        <div class="panel-body">
                                            £156 up to 100 units<br />.98p/Unit after
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-8">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">20% Discount</h3>
                                        </div>
                                        <div class="panel-body noMargin noPadding">
                                            <table class="noMargin noPadding table-responsive "><tr><td><span class="glyphicon glyphicon-chevron-left" style="vertical-align:middle"></span></td><td>When you take both services</td><td><span class=" glyphicon glyphicon-chevron-right" style="vertical-align:middle"></span></td></tr></table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Emergency Lighting</h3>
                                        </div>
                                        <div class="panel-body">
                                            £112 up to 10 units<br />£1.25p/Unit after
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">Extra 10% Discount</h2>
                                        </div>
                                        <div class="panel-body">
                                            When you choose from 3 or more services
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            @Booker.Common.CompanyStrings.ShortName will carry out annual
                            tests and certification on all of your portable
                            appliances and emergency lighting to ensure
                            that you comply with the Electricity at Work
                            Regulations 1989 and PUWER 1998.
                            BSEN 50172 2004 and BS 5266-8.
                        </p>
                        <p>
                            Let @Booker.Common.CompanyStrings.ShortName take the hassle out
                            of organising annual certification on all your
                            portable equipment and emergency lighting.<br>
                            <a href="#" class="btn btn-warning register">REGISTER NOW</a>
                        </p>
                    </div>
                </section>
                <section class="sc3 slide">
                    <div class="header">
                        <h1 class="light">GAS SAFETY INSPECTION</h1>
                    </div>
                    <div class="copy align-right">
                        <p>
                            <div class="container">

                                <div class="row col-xs-11 equal">
                                    <div class="col-sm-2 col-xs-6 ">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h2 class="panel-title">Gas Safety<br />(Boiler up to 75kw)</h2>
                                            </div>
                                            <div class="panel-body">
                                                £56.25<br />Each subsequent <br />Boiler £43.75
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h2 class="panel-title">Gas Safety<br />(Boiler over 75kw)</h2>
                                            </div>
                                            <div class="panel-body">
                                                £106.25<br />Each subsequent <br />Boiler £81.25
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h2 class="panel-title">Gas Safety<br />(Other Appliances)</h2>
                                            </div>
                                            <div class="panel-body">
                                                £43.75<br />Each subsequent unit <br />Unit £25.00
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-xs-6">

                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h2 class="panel-title">Extra 10% Discount</h2>
                                            </div>
                                            <div class="panel-body">
                                                When you choose from 3 or more services
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                        <p>
                            You can never be too careful when it comes
                            to the testing and certification of any of your
                            appliances that are powered by gas.
                        </p>
                        <p>
                            @Booker.Common.CompanyStrings.ShortName, will inspect and certify
                            all gas cooking and heating equipment in
                            line with Gas Safety Regulations 1998.<br>
                            <a href="#" class="btn btn-warning register">REGISTER NOW</a>
                        </p>
                    </div>
                </section>
                <section class="sc4 slide">
                    <div class="header">
                        <h1 class="light">FIRE ALARMS & EXTINGUISHERS</h1>
                    </div>
                    <div class="copy align-left">

                        <div class="container">

                            <div class="row col-xs-11 equal">
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">File Alarm <br />Test & Inspection</h3>
                                        </div>
                                        <div class="panel-body">
                                            £75 up to 6 units<br />£3.75/Unit after
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Fire Extinguishers<br />Test & Inspection</h3>
                                        </div>
                                        <div class="panel-body">
                                            £37.50 up to 10 units<br />£3/Unit after
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">Extra 10% Discount</h2>
                                        </div>
                                        <div class="panel-body">
                                            When you choose from 3 or more services
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p>
                            Keeping your fire alarms tested and
                            certified is key to the safety of your
                            employees and your customers.
                        </p>
                        <p>
                            @Booker.Common.CompanyStrings.ShortName will arrange and carry
                            out the annual testing, and certification of
                            your fire alarm systems and fire extinguishers
                            to BS 5306-3 and BS 5839 Part 8.<br>
                            <a href="#" class="btn btn-warning register">REGISTER NOW</a>
                        </p>
                    </div>
                </section>
                <section class="sc5 slide">
                    <div class="header">
                        <h1 class="dark">FIRE SPRINKLER SYSTEMS & WATER TESTING</h1>
                    </div>
                    <div class="copy align-right">

                        <div class="container">

                            <div class="row col-xs-11 equal">
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Sprinkler System <br />Test & Inspection</h3>
                                        </div>
                                        <div class="panel-body">
                                            £203.50
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Monthly Water<br />Temp Checks</h3>
                                        </div>
                                        <div class="panel-body">
                                            £28 /Month up to 25 taps<br />.80p /tap after
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Water Legionella<br />Annual Bacteria Sampling</h3>
                                        </div>
                                        <div class="panel-body">
                                            £35
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">Extra 10% Discount</h2>
                                        </div>
                                        <div class="panel-body">
                                            When you choose from 3 or more services
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            If you have a fire sprinkler system,
                            @Booker.Common.CompanyStrings.ShortName will arrange annual
                            testing and certification to comply with the
                            Health and Safety at Work Act 1974.
                        </p>
                        <p>
                            Legionella and water temperature testing
                            and certification to comply with water
                            hygiene regulations to HSG274 and L8.<br>
                            <a href="#" class="btn btn-warning register">REGISTER NOW</a>
                        </p>
                    </div>
                </section>
                <a id="Register" style="visibility: hidden"></a>
                <section class="sc6 slide">
                    <div class="header">
                        <h1 class="light">Register Interest Now</h1>
                    </div>

                    <div class="container" id="RegisterInterest">

                        <div class="row">
                            <div class="col-xs-12">

                                @using (Html.BeginForm("Register", "Home", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "fancy-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.Partial("GenericErrorSummary")
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(m => m.MemberNumber)
                                        @Html.BootstrapTextBoxFor(m => m.MemberNumber)
                                        @Html.ValidationMessageFor(m => m.MemberNumber, null, new { @class = "help-inline" })
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(m => m.Name)
                                        @Html.BootstrapTextBoxFor(m => m.Name)
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-inline" })
                                    </div>

                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(m => m.ContactNumber)
                                        @Html.BootstrapTextBoxFor(m => m.ContactNumber, new { @type = "tel" })
                                        @Html.ValidationMessageFor(m => m.ContactNumber, null, new { @class = "help-inline" })
                                    </div>
                                    <div class="form-group">
                                        <span class="control-label" style="font-size: 1em; font-weight: 600;">Callback Date & Time</span>
                                        @Html.BootstrapTextBoxFor(m => m.CallBackDateTime.ToCurrentCultureDateTime(), new { @class = "jquery_bootstrapdatetimepicker" })
                                        @Html.ValidationMessageFor(m => m.CallBackDateTime, null, new { @class = "help-inline" })
                                    </div>
                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(m => m.Email)
                                        @Html.BootstrapTextBoxFor(m => m.Email, new { @type = "email" })
                                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-inline" })
                                    </div>

                                    <div class="form-group">
                                        @Html.BootstrapLabelFor(m => m.LeadSource)
                                        @Html.BootstrapDropDownListFor(m => m.LeadSource, Model.SourceList)
                                    </div>
                                    <input type="submit" value="Submit" class="btn btn-warning btn-lg" />

                                }
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/commonhelpers")
    @Scripts.Render("~/bundles/placeholderpolyfill")
    @Scripts.Render("~/bundles/home")
    @Scripts.Render("~/bundles/bootstrapdatetimepicker")

    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();

    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")

}


}