@{
    ViewBag.Title = String.Format("Terms and Conditions - {0}", Booker.Common.CompanyStrings.ShortName);
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    <strong>@Booker.Common.CompanyStrings.ShortName.ToUpper() HEALTH AND SAFETY COMPLIANCE COVER</strong>
                </h3>
                <h4>Terms and Conditions for Health and Safety Compliance Solutions</h4>

                <br />
                <div class="well">

                    <p class="strong">
                        1 Introduction
                    </p>
                    <p>
                        1.1 These Conditions apply to the Agreement and to any Services that @Booker.Common.CompanyStrings.ShortName agrees to provide to You under the Agreement.
                    </p>
                    <p>
                        1.2 Please read the Agreement carefully to confirm Your understanding of Your rights and obligations. If You have any questions about the Agreement or Your
                        Services, please contact @Booker.Common.CompanyStrings.ShortName using the contact information which can be found in Clause 13 at the end of these Conditions.
                    </p>
                    <p class="strong">
                        2 Definitions
                    </p>
                    <p>
                        In these terms and conditions the following terms shall have the following meanings:
                    </p>
                    <p>
                        <strong>"Agreement"</strong>
                        means the application You have either signed or agreed on the telephone or confirmed online, these Conditions, the covering letter which you have received
                        from @Booker.Common.CompanyStrings.ShortName notifying You that Your application has been Approved which is accompanied by the Services Summary and these Conditions;
                    </p>
                    <p>
                        <strong>"Agreement Start Date"</strong>
                        has the meaning given in clause 5.1;
                    </p>
                    <p>
                        <strong>“Appendix”</strong>
                        means the Appendix to these Conditions;
                    </p>
                    <p>
                        <strong>"Approved"</strong>
                        means that your application to become a customer of the @Booker.Common.CompanyStrings.ShortName service has been approved by @Booker.Common.CompanyStrings.ShortName and Booker and <strong>“Approve” </strong>
                        and<strong> “Approval” </strong>shall be construed accordingly;
                    </p>
                    <p>
                        <strong>"Booker"</strong>
                        means Booker Limited (company number 00197380) and with its registered office at Equity House, Irthlingborough, Northamptonshire NN8 1LT;
                    </p>
                    <p>
                        <strong>"Booker Account" </strong>
                        means Your customer account with Booker operated under an agreement for the supply of goods on credit between You and Booker;<strong></strong>
                    </p>
                    <p>
                        <strong>"@Booker.Common.CompanyStrings.ShortName"</strong>
                        means @Booker.Common.CompanyStrings.Name (company number @Booker.Common.CompanyStrings.CompanyNumber) trading as @Booker.Common.CompanyStrings.ShortName and with its registered office at @Booker.Common.CompanyStrings.Address.
                    </p>
                    <p>
                        <strong>"@Booker.Common.CompanyStrings.ShortName's Group"</strong>
                        means @Booker.Common.CompanyStrings.ShortName and any of its associated companies or any other person having control over @Booker.Common.CompanyStrings.ShortName or any such associated company (the terms 'associated company'
                        and 'control' having the meanings given to them in Section 416 of the Income and Corporation Taxes Act 1988);
                    </p>
                    <p>
                        <strong>"Compliant" </strong>
                        means that the Equipment has been tested by @Booker.Common.CompanyStrings.ShortName pursuant to Your Services and has been determined to be compliant with the relevant requirements as
                        described in the Appendix;
                    </p>
                    <p>
                        <strong>"Conditions" </strong>
                        means these terms and conditions which form part of the Agreement;<strong></strong>
                    </p>
                    <p>
                        <strong>"Cooling off period"</strong>
                        has the meaning given in clause 6.1;
                    </p>
                    <p>
                        <strong>"Equipment"</strong>
                        means any equipment in the Property which is tested by @Booker.Common.CompanyStrings.ShortName pursuant to Your Services;
                    </p>
                    <p>
                        <strong>“Insolvency Event”</strong>
                        means the occurrence of any of the following:
                    </p>
                    <p>
                        (a) You suspend or threaten to suspend payment of Your debts or are unable to pay Your debts as they fall due or are deemed unable to pay Your debts within
                        the meaning of section 123 of the Insolvency Act 1986;
                    </p>
                    <p>
                        (b) You commence negotiations with all, or any class of, Your creditors with a view to rescheduling any of Your debts, or make a proposal for or enter into
                        any compromise or arrangement with any of Your creditors;
                    </p>
                    <p>
                        (c) a moratorium is declared in respect of Your indebtedness;
                    </p>
                    <p>
                        (d) a petition is filed, a notice is given, a resolution is passed, or an order is made, for or in connection with Your winding up;
                    </p>
                    <p>
                        (e) an application is made to court, or an order is made, for the appointment of an administrator, a notice of intention to appoint an administrator is
                        given, or an administrator is appointed over You;
                    </p>
                    <p>
                        (f) the holder of a floating charge over Your assets becomes entitled to appoint, or has appointed, an administrative receiver;
                    </p>
                    <p>
                        (g) a person becomes entitled to appoint a receiver over Your assets or a receiver is appointed over those Assets;
                    </p>
                    <p>
                        (h) a compulsory manager is appointed over Your assets;
                    </p>
                    <p>
                        (i) a creditor or encumbrancer attaches or takes possession of, or a distress, execution, sequestration or other such process is levied or enforced on or
                        sued against, the whole or any part of Your assets;
                    </p>
                    <p>
                        (j) any event occurs or step is taken against You in any other jurisdiction to which You are subject which event or step is equivalent or similar to those
                        set out in this Clause;
                    </p>
                    <p>
                        (k) You cease (or threatens to cease) for any reason to carry on all or a substantial part of Your business or takes or suffer any similar action which in
                        the opinion of the City means that You may be unable to pay Your debts.
                    </p>
                    <p>
                        <strong>"Property"</strong>
                        means Your business property or properties identified in the Services Summary which @Booker.Common.CompanyStrings.ShortName have agreed with You are within the scope of Your Services;
                    </p>
                    <p>
                        <strong>"Remediation Services"</strong>
                        means remedial repair, ad-hoc reactive repair and/or replacement of any Equipment at Your Property which has been determined by @Booker.Common.CompanyStrings.ShortName not to be Compliant
                        during the course of testing conducted pursuant to Your Services;
                    </p>
                    <p>
                        <strong>"Services"</strong>
                        means the services provided by @Booker.Common.CompanyStrings.ShortName under its Health and Safety Compliance Service Programme which consist of those services described in the Appendix. The
                        Services that You have selected and which are the subject of the Agreement (which may consist of all or just some of the Services) are called "    <strong>Your Services</strong>" and are described in the Services Summary which forms part of the Agreement;
                    </p>
                    <p>
                        <strong>"Services Payment" </strong>
                        means the price which is payable by You to @Booker.Common.CompanyStrings.ShortName for Your Services as described in the Services Summary. The level of Services Payment may be adjusted by
                        @Booker.Common.CompanyStrings.ShortName in accordance with the provisions of Clause 5.3;
                    </p>
                    <p>
                        <strong>"Services Summary" </strong>
                        means the summary of the terms on which Your Services provided to You by @Booker.Common.CompanyStrings.ShortName and which forms part of the Agreement;
                    </p>
                    <p>
                        <strong>"Term"</strong>
                        means, unless terminated earlier in accordance with the Agreement, the period for which the Agreement subsists as determined in accordance with Clause 5;
                    </p>
                    <p>
                        <strong>"Working Day"</strong>
                        means any day which is not a Saturday, a Sunday or a bank or public holiday in any part of the United Kingdom;
                    </p>
                    <p>
                        <strong>"You/Your"</strong>
                        means you or belonging to you, the customer with whom the Agreement has been entered into and who is named in the Services Summary.
                    </p>
                    <p class="strong">
                        3 General
                    </p>
                    <p>
                        3.1 These Conditions contain the terms and conditions that apply to the provision to You by @Booker.Common.CompanyStrings.ShortName of Your Services during the Term in return for the
                        Services Payment that You have agreed to pay in accordance with the terms of this Agreement. These Conditions also detail the exclusions and conditions
                        applying to Your Services.
                    </p>
                    <p>
                        3.2 @Booker.Common.CompanyStrings.ShortName reserves the right to vary the terms of the Agreement, including these Conditions by giving not less than 30 days’ written notice to that effect.
                        If @Booker.Common.CompanyStrings.ShortName vary the terms of the Agreement to Your material disadvantage then You may cancel the Agreement by giving not less than 14 days’ written notice to
                        that effect provided that such notice expires prior to the end of the original 30 days’ notice. If You validly cancel the Agreement under this Clause then
                        You will not be liable for any future Service Payments after the date of such cancellation.
                    </p>
                    <p class="strong">

                        4 Eligibility, Approval and Rejection
                    </p>
                    <p>
                        4.1 When You apply to become a customer of @Booker.Common.CompanyStrings.ShortName for any Services, @Booker.Common.CompanyStrings.ShortName will contact Booker to seek Booker Approval to provide you with credit under Your
                        Booker Account to meet the Service Payments that will become due to @Booker.Common.CompanyStrings.ShortName in respect of the Services which You are seeking @Booker.Common.CompanyStrings.ShortName to supply to You. This may
                        involve increasing your credit limit under the Booker Account.
                    </p>
                    <p>
                        4.2 You may not be eligible (at the discretion of @Booker.Common.CompanyStrings.ShortName) to become a customer of @Booker.Common.CompanyStrings.ShortName for any Services if Booker refuse to Approve the provision of credit
                        to You under Your Booker Account to meet the Service Payments. @Booker.Common.CompanyStrings.ShortName also reserves the right to withhold its Approval to any application without giving
                        reason.
                    </p>
                    <p class="strong">
                        5 Start Date, Payment and Renewal
                    </p>
                    <p>
                        5.1 Your Services will start, and the Term shall commence, on the date @Booker.Common.CompanyStrings.ShortName Approves Your application for Your Services ("    <strong>Agreement Start Date</strong>"). The Agreement Start Date will be set out in the Services Summary that is provided to You as part of the Agreement.
                    </p>
                    <p>
                        5.2 The Agreement will run for an initial period of 12 months from the Agreement Start Date. When the Agreement is due for renewal @Booker.Common.CompanyStrings.ShortName may offer to renew
                        it for you automatically, unless You or @Booker.Common.CompanyStrings.ShortName have advised otherwise. @Booker.Common.CompanyStrings.ShortName will contact You at least 30 days before the Agreement is due to end to advise of
                        any changes to the terms of the Agreement, to confirm the Service Payment for the Services for the forthcoming 12 months together with details of the
                        current Services Summary for You to check. If You do not want the Agreement to renew you must call @Booker.Common.CompanyStrings.ShortName before Your renewal date to let us know. It is not
                        possible to offer automatic renewal in all circumstances. If @Booker.Common.CompanyStrings.ShortName is unable to offer renewal terms then it will contact You to let you know.
                    </p>
                    <p>
                        5.3 The first Service Payment is for a period of 12 months commencing on the Agreement Start Date. The level of the first Services Payment has been
                        calculated based on the information You provided to Us at the time that You made your application to become a customer. If @Booker.Common.CompanyStrings.ShortName determines at an
                        inspection and testing visit that the information You provided was materially incorrect then @Booker.Common.CompanyStrings.ShortName shall be entitled to adjust the level of Service
                        Payments to reflect the Service Payments that it would have charged had the correct information been provided in the initial application. Where either:
                    </p>
                    <p>
                        5.3.1 You refuse to pay the adjusted Service Payments; or
                    </p>
                    <p>
                        5.3.2 Booker refuse to provide credit to You under Your Booker Account to meet the adjusted Service Payments;
                    </p>
                    <p>
                        then @Booker.Common.CompanyStrings.ShortName may (in its discretion) either decline to provide Your Services (in which case @Booker.Common.CompanyStrings.ShortName may cancel the Agreement and any outstanding amounts owed to
                        @Booker.Common.CompanyStrings.ShortName will be charged to your Booker Account or any balance owed to You will be credited to your Booker Account or agree to provide Your Services for the
                        unadjusted Service Payment but, in that case, Your Services may be limited (at the discretion of @Booker.Common.CompanyStrings.ShortName) to inspecting and testing only Equipment which was
                        contemplated within the information contained in the initial application You made when you applied to become a @Booker.Common.CompanyStrings.ShortName customer.
                    </p>
                    <p>
                        5.4 Save for the circumstances set out in Clause 5.3, the Service Payments will not change until renewal. In these circumstances @Booker.Common.CompanyStrings.ShortName will write to tell
                        You about any change in Service Payments as part of the renewal process set out in Clause 5.2. If You do not want the Agreement to renew on the basis of
                        the change in price then You should contact @Booker.Common.CompanyStrings.ShortName in accordance with Clause 5.2.
                    </p>
                    <p>
                        5.5 The Service Payment is payable in twelve equal monthly instalments. @Booker.Common.CompanyStrings.ShortName will invoice Booker on a monthly basis for each Service Payment instalment
                        which falls due under the Agreement and Booker will pay that Service Payment and debit the appropriate amount from your Booker Account. In turn, You agree
                        to settle the amount outstanding under your Booker Account with Booker in the normal way under your contractual arrangements with Booker.
                    </p>
                    <p class="strong">
                        6 Cancellation
                    </p>
                    <p>
                        6.1 If the terms of the Agreement does not meet Your requirements and @Booker.Common.CompanyStrings.ShortName has not provided Your Services at Your request under the Agreement in the
                        interim, You may cancel the Agreement within fourteen (14) days of the Agreement Start Date ("<strong>Cooling Off Period</strong>"<strong>)</strong>. Any
                        Services Payment paid by You will be re-credited to your Booker Account in full.
                    </p>
                    <p>
                        6.2 You must contact @Booker.Common.CompanyStrings.ShortName in order to cancel Your Agreement. You can do this either in writing or by telephone. The contact details for @Booker.Common.CompanyStrings.ShortName are contained
                        in Clause 13 at the end of these Conditions.
                    </p>
                    <p>
                        If you cancel by telephone, @Booker.Common.CompanyStrings.ShortName will confirm such cancellation in writing to You. If you cancel, You must return all documents to @Booker.Common.CompanyStrings.ShortName.
                    </p>
                    <p>
                        6.3 @Booker.Common.CompanyStrings.ShortName reserves the right to immediately cancel Your Agreement in writing under the following circumstances:
                    </p>
                    <p>
                        6.3.1 You provide false information;
                    </p>
                    <p>
                        6.3.2 Your Booker Account is closed with the result that Booker decline to pay any instalments of the Service Payments when such instalments become due for
                        payment;
                    </p>
                    <p>
                        6.3.3 An Insolvency Event occurs;
                    </p>
                    <p>
                        6.3.4 in accordance with Clauses 5.3, 7.4 and 7.5.
                    </p>
                    <p>
                        6.4 If @Booker.Common.CompanyStrings.ShortName cancels Your Agreement pursuant to the provisions of Clause 6.3, then without prejudice to its other rights and remedies under this Agreement
                        or otherwise, any instalments of the Service Payments for the 12 month period of the Term then current will immediately become due and payable by You
                        directly to @Booker.Common.CompanyStrings.ShortName on demand from @Booker.Common.CompanyStrings.ShortName. Any sums which remain outstanding after demand shall attract interest on a compounded basis at a rate of 4% per annum
                        above the base lending rate of Bank of England from time to time until payment, whether before or after judgement. The provisions of this Clause also apply
                        to the price for any Remediation Services payable under Clause 9.
                    </p>
                    <p class="strong">
                        7 Appointments and Inspections
                    </p>
                    <p>
                        7.1 Inspection and testing visits and (where applicable) visits to carry out Remediation Services, will be carried out on an agreed date generally between
                        the hours of 0800 and 1700 Monday to Friday, excluding bank/public holidays and will be subject to @Booker.Common.CompanyStrings.ShortName’s workforce availability.
                    </p>
                    <p>
                        7.2 Inspection and testing visits for Your Services will take place with the frequency set out in the description of the relevant Services set out in the
                        Appendix. Using the information provided by You in Your application as to when Your last tests were carried out, @Booker.Common.CompanyStrings.ShortName will contact You to arrange
                        inspection and testing appointments at the appropriate time(s).
                    </p>
                    <p>
                        7.3 Where an appointment has been agreed with You, it is Your responsibility to allow @Booker.Common.CompanyStrings.ShortName access to the Property for that appointment. Where @Booker.Common.CompanyStrings.ShortName attends
                        the Property for an agreed appointment, but is unable to gain access to the Property, the appointment will be re-scheduled subject to Clause 7.4.
                    </p>
                    <p>

                        7.4 Where @Booker.Common.CompanyStrings.ShortName has attended the Property for an agreed appointment, and @Booker.Common.CompanyStrings.ShortName has been unable to gain access on two or more occasions, then @Booker.Common.CompanyStrings.ShortName
                        reserves the right to charge You a call out charge not to exceed £150 plus VAT and/or to cancel Your Agreement in which case @Booker.Common.CompanyStrings.ShortName's obligations in
                        respect of carrying out any inspection and testing visit will be deemed to have been fulfilled (with no representation that Your Property is safe,
                        compliant and in good working order).
                    </p>
                    <p>

                        7.5 Where @Booker.Common.CompanyStrings.ShortName has notified you in writing requesting that You contact @Booker.Common.CompanyStrings.ShortName to arrange an appointment and You fail to contact @Booker.Common.CompanyStrings.ShortName within 28 days of
                        receiving the notification to make such an appointment, then @Booker.Common.CompanyStrings.ShortName shall make two further attempts within the following 14 days to contact You by
                        telephone to arrange an appointment. If, within such period, it has not been possible to arrange such an appointment then @Booker.Common.CompanyStrings.ShortName's obligations in respect
                        of carrying out that appointment will be deemed to have been fulfilled (with no representation that Your Property is safe, compliant and in good
                        working order) and @Booker.Common.CompanyStrings.ShortName reserves the right to cancel Your Agreement.
                    </p>
                    <p>
                        7.6 If for any reason You will not be available for an agreed appointment time, You should contact @Booker.Common.CompanyStrings.ShortName at the earliest opportunity to agree an alternative
                        appointment.
                    </p>
                    <p>
                        7.7 Certification following testing will be provided free of charge in electronic format only. Where Equipment fails any particular test or tests carried
                        out by @Booker.Common.CompanyStrings.ShortName pursuant to Your services, re-testing will be carried out by @Booker.Common.CompanyStrings.ShortName without additional charge in circumstances where You have engaged City to
                        provide the necessary Remediation Services pursuant to Clause 9.
                    </p>
                    <p>
                        7.8 Where Services have been provided, You will sign an acknowledgement if requested to do so by @Booker.Common.CompanyStrings.ShortName.
                    </p>
                    <p class="strong">
                        8 Services
                    </p>
                    <p>
                        8.1 You<strong> </strong>will have opted for one or more of the Services described in the Appendix. The Service or Services You have opted for (“    <strong>Your Services</strong>”) are set out in the Services Summary which forms part of the Agreement. You acknowledge that Your Services are subject to
                        the applicable exclusions and limitations contained within the Appendix.
                    </p>
                    <p>
                        8.2 @Booker.Common.CompanyStrings.ShortName will provide Your Services (and any Remediation Services):
                    </p>
                    <p>
                        8.2.1 in accordance with the terms set out in the Agreement;
                    </p>
                    <p>
                        8.2.2 using appropriately qualified and experienced personnel; and
                    </p>
                    <p>
                        8.2.3 with reasonable care and skill.
                    </p>
                    <p>
                        8.3 Where the performance of any Remediation Services by @Booker.Common.CompanyStrings.ShortName requires @Booker.Common.CompanyStrings.ShortName to replace any Equipment or part then such replacement Equipment or part shall
                        be
                    </p>
                    <p>
                        8.3.1 provided with the benefit of any manufacturer’s warranties or guarantees to the extent that such benefit can be assigned or transferred to You; and
                    </p>
                    <p>
                        8.3.2 installed by @Booker.Common.CompanyStrings.ShortName in accordance with any manufacturer instructions.
                    </p>
                    <p>
                        8.4 In contracting under the Agreement, You agree that You are acting for the purposes of your trade, business or profession.
                    </p>
                    <p>

                        8.5 You warrant that You have not entered into the Agreement in reliance on any representation, warranty or undertaking which is not expressly stated
                        in the Agreement and any representation, warranty or undertaking implied by law or by custom is expressly excluded.
                    </p>
                    <p class="strong">
                        9 Remediation Services
                    </p>
                    <p>
                        9.1 The Service Payments do not cover the cost of carrying out Remediation Services.
                    </p>
                    <p>
                        9.2 Should You wish @Booker.Common.CompanyStrings.ShortName to carry out any Remediation Services, please contact @Booker.Common.CompanyStrings.ShortName using the contact information which can be found in Clause 13 at the
                        end of these Conditions. @Booker.Common.CompanyStrings.ShortName may (but is not obliged to) offer You a quotation to carry out the Remediation Services. In determining whether @Booker.Common.CompanyStrings.ShortName can
                        provide You with a quotation for any Remediation Services, @Booker.Common.CompanyStrings.ShortName may in its discretion seek Booker approval to provide You with further credit under Your
                        Booker Account to meet any sum that might be quoted as the price for the Remediation Services. @Booker.Common.CompanyStrings.ShortName will not provide You with a quotation where Booker
                        refuse to Approve the provision of credit to pay for the Remediation Services. The price of any Remediation Services carried out by @Booker.Common.CompanyStrings.ShortName will be invoiced
                        to Booker and debited to Your Booker Account in full in the calendar month immediately following performance of the Remediation Services.
                    </p>
                    <p>
                        9.3 Where Remediation Services have been provided You will sign an acknowledgement if requested to do so by @Booker.Common.CompanyStrings.ShortName.
                    </p>
                    <p class="strong">
                        10 Complaints
                    </p>
                    <p>
                        <strong><em>How to complain</em></strong>
                    </p>
                    <p>
                        10.1 It is the intention to give You the best possible service but if You do have any questions or concerns about Your Services or, where applicable, any
                        Remediation Services provided by @Booker.Common.CompanyStrings.ShortName You should follow the complaints procedure summarised below. Please ensure your Agreement reference number (shown on
                        the Services Summary) is quoted in all correspondence to assist a quick and efficient response. A copy of @Booker.Common.CompanyStrings.ShortName’s complaints handling procedure is available
                        on request.
                    </p>
                    <p>
                        10.2 You can make a complaint in writing, by email, telephone or in person (by appointment only). If You are writing or emailing Your complaint please
                        provide Your telephone number if a response by telephone would be convenient. If You are emailing Your complaint please state if a reply by email is
                        required, if not please provide Your full postal address.
                    </p>
                    <p>
                        <strong><em>What Happens Next?</em></strong>
                        <strong><em></em></strong>
                    </p>
                    <p>
                        10.3 @Booker.Common.CompanyStrings.ShortName will reply within 5 Working Days from when it receives Your complaint. If it is not possible to give You a full reply within this time (for
                        example because a detailed investigation is required), @Booker.Common.CompanyStrings.ShortName will give You an interim response telling You what is being done to deal with Your complaint,
                        when You can expect a detailed reply and from whom. In most cases Your complaint will be resolved within 20 Working Days. If Your complaint is not resolved
                        within that period You will be notified of the reasons why and the further steps being taken regarding Your complaint.
                    </p>
                    <p class="strong">

                        11 Your Personal Data
                    </p>
                    <p>
                        11.1 By entering into this Agreement, You consent to the collection, processing, transmission and disclosure of Your personal information by @Booker.Common.CompanyStrings.ShortName and
                        Booker for the purposes of administering the Agreement (including fraud prevention and conducting credit checks to ensure your eligibility to pay Your
                        Services through Your Booker Account) and/or facilitating the delivery of Your Services and, if applicable, any Remediation Services (the “    <strong>Purpose</strong>”).
                    </p>
                    <p>
                        11.2 All of Your personal information will be treated as private and confidential, retained and used by @Booker.Common.CompanyStrings.ShortName and Booker in accordance with the Data
                        Protection Act 1998.
                    </p>
                    <p>
                        11.3 Where you have consented to @Booker.Common.CompanyStrings.ShortName doing so, You agree that Booker.Common.CompanyStrings.ShortName may use Your personal information to provide You with details about other products and
                        services offered by: (i) @Booker.Common.CompanyStrings.ShortName; or (ii) other members of the @Booker.Common.CompanyStrings.ShortName Group. You acknowledge that such communications may be made by letter, email, phone and/or
                        SMS.
                    </p>
                    <p>
                        11.4 You agree that @Booker.Common.CompanyStrings.ShortName and Booker may disclose Your personal information to third parties (i) if @Booker.Common.CompanyStrings.ShortName or Booker are under a duty to disclose or share
                        your personal information in order to comply with any laws; (ii) in order to enforce any agreement; and/or (iii) to protect the rights, property or safety
                        of @Booker.Common.CompanyStrings.ShortName or Booker or others. For the avoidance of doubt, this right of disclosure shall include exchanging information with other companies and
                        organisations for the purposes of fraud prevention and credit risk reduction.
                    </p>
                    <p>
                        11.5 You have a right to access the personal information that @Booker.Common.CompanyStrings.ShortName holds about You. To obtain a copy of the personal information @Booker.Common.CompanyStrings.ShortName holds about You,
                        please write to the following address enclosing: (i) sufficient information to enable @Booker.Common.CompanyStrings.ShortName to satisfy itself as to Your identity (a copy of Your passport
                        or driving licence, for example): (ii) Your postal details; and (iii) a cheque for £10 (which is entitled by law to be charged, payable to @Booker.Common.CompanyStrings.Name)
                        to Business Support Director. @Booker.Common.CompanyStrings.ShortName. @Booker.Common.CompanyStrings.Address.
                    </p>
                    <p class="strong">

                        12 Legal
                    </p>
                    <p>
                        12.1 Except for death or personal injury caused by @Booker.Common.CompanyStrings.ShortName's negligent acts or omissions, @Booker.Common.CompanyStrings.ShortName will only be liable for any loss or damage which is a
                        reasonably foreseeable consequence of a breach of the Agreement by @Booker.Common.CompanyStrings.ShortName up to a maximum liability of £100,000 in any calendar year. Neither You nor @Booker.Common.CompanyStrings.ShortName
                        are liable to the other for any indirect loss or damage (including, without limitation, loss of profit, revenue, earnings, goodwill, business or contract).
                        @Booker.Common.CompanyStrings.ShortName is not liable for any loss or damage caused by circumstances which it does not control.
                    </p>
                    <p>
                        12.2 Booker shall be entitled to directly enforce the provisions of the Agreement which confer rights upon it in accordance with the Contracts (Rights of
                        Third Parties) Act 1999. The parties may withdraw from or vary this Agreement or cancel it in accordance with its terms without the agreement of Booker.
                    </p>
                    <p>
                        12.3 No failure or delay by the Insurer or by @Booker.Common.CompanyStrings.ShortName to exercise any right or remedy provided under this Agreement or by law shall constitute a waiver of
                        that or any other right or remedy, nor shall it preclude or restrict the further exercise of that or any other right or remedy. No single or partial
                        exercise of such right or remedy shall preclude or restrict the further exercise of that or any other right or remedy.
                    </p>
                    <p>
                        12.4 @Booker.Common.CompanyStrings.ShortName may assign or transfer all or any part of its rights and subcontract any of its obligations under the Agreement without Your consent provided
                        that the transferee holds the applicable industry registration where necessary.
                    </p>
                    <p>
                        12.5 You shall not (nor purport to) assign to any person or persons or in any way transfer or dispose of Your rights and obligations under this Agreement
                        without @Booker.Common.CompanyStrings.ShortName's prior written consent.
                    </p>
                    <p>
                        12.6 @Booker.Common.CompanyStrings.ShortName will send notices to Your correspondence address or e-mail address (as shown in the Services Summary) and You will be deemed to have received the
                        notice 2 Working Days after it was sent unless @Booker.Common.CompanyStrings.ShortName receives evidence to the contrary. You should contact @Booker.Common.CompanyStrings.ShortName in any of the ways outlined in Clause 13.<strong>If any of Your contact details change, </strong>    <strong>it is Your responsibility to ensure that City have an up to date details for You to which communications can be sent.</strong><strong></strong>
                    </p>
                    <p>
                        12.7 In addition to notices required under the Agreement, @Booker.Common.CompanyStrings.ShortName may contact You from time to time regarding Your Agreement or to provide You with other
                        information relevant to the Agreement. Such communication may be made in writing and delivered by hand, sent by post, facsimile or em-mail, or be made by
                        telephone.
                    </p>
                    <p>
                        12.8 The Agreement represents the entire agreement of the parties on the matters in question.
                    </p>
                    <p>
                        12.9 The governing law for the Agreement shall be determined as follows:
                    </p>
                    <p>
                        12.9.1 Where You are a Scottish registered company and / or have Your principal place of business in Scotland, the Agreement shall in all respects be
                        governed by and construed in accordance with the Scots law and the parties hereto irrevocably submit to the non-exclusive jurisdiction of the Scottish
                        Courts; or
                    </p>
                    <p>
                        12.9.2 In all other cases, the Agreement shall in all respects be governed by and construed in accordance with the English courts and the parties hereto
                        irrevocably submit to the non-exclusive jurisdiction of the English Courts.
                    </p>
                    <p class="strong">
                        13 Contacting @Booker.Common.CompanyStrings.ShortName
                    </p>
                    <p>
                        13.1 You may communicate with @Booker.Common.CompanyStrings.ShortName in any of the following ways:
                    </p>
                    <p>
                        13.1.1 <strong>By post or by delivery to:</strong>
                    </p>
                    <p class="text-justify text-info well-sm">
                        Managing Director<br />

                        @Booker.Common.CompanyStrings.ShortName<br />

                        @Booker.Common.CompanyStrings.Name<br />

                        Caledonia House<br />

                        Lawmoor Street<br />

                        Glasgow <br />G5 0US
                    </p>
                    <p>
                        13.1.2 <strong>By telephone: </strong>0333 200 2442 Lines open<em> 9am – 5pm</em><strong></strong>
                    </p>
                    <p>
                        13.1.3 <strong>Complaints only: </strong>complaints may also be made<strong> </strong>in person (by prior appointment) or by e-mail –
                        city@city-holdings.co.uk<strong></strong>
                    </p>
                    <p>
                        13.2 In order for @Booker.Common.CompanyStrings.ShortName to identify You as a customer quickly, when calling, please have Your Agreement reference number ready to quote.
                    </p>
                    <p align="left">
                        <strong> </strong>
                    </p>
                    <strong>
                        <br clear="all" />
                    </strong>
                    <p align="left">
                        <strong> </strong>
                    </p>
                    <p>
                        <strong>APPENDIX</strong>
                    </p>
                    <p>
                        <strong>@Booker.Common.CompanyStrings.ShortName.ToUpper() SERVICES DESCRIPTION </strong>
                    </p>
                    <table class="table table-responsive table-bordered" cellspacing="0" cellpadding="0" width="640">
                        <tbody>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong>Test Description</strong>
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        <strong>Included</strong>
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        <strong>Excluded</strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Portable appliance test</u></strong>
                                    </p>
                                    <p>
                                        <strong><u> </u></strong>
                                    </p>
                                    <p>
                                        An annual examination of electrical appliances and equipment carried out by a competent person to ensure they are safe to use.
                                    </p>
                                    <p>
                                        Where You also take the Emergency Lighting Testing service portable appliance testing will carried out as a joint visit with Emergency
                                        Lighting Testing
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        Annual test and certification.
                                    </p>
                                    <p>
                                        Portable appliance testing includes replacement plugs and replacement fuses free of charge.
                                    </p>
                                    <p>
                                        <strong> </strong>
                                    </p>
                                    <p>
                                        <strong>Small</strong>
                                        up to 80 items
                                    </p>
                                    <p>
                                        <strong>Medium</strong>
                                        up to 200 items.
                                    </p>
                                    <p>
                                        <strong>Large</strong>
                                        up to 300 items
                                    </p>
                                    <p>
                                        <strong>Unlimited</strong>
                                        over 300 items
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        Major repairs / remedial.
                                    </p>
                                    <p>
                                        Items outside Your banding (ie ‘small’, ‘medium’ or ‘large’) as disclosed from the number of items appearing on Your application form or as
                                        determined by @Booker.Common.CompanyStrings.ShortName following an inspection and testing visit under Clause 5.3. The ‘unlimited’ service is provided on the basis of the
                                        numbers of items so disclosed or determined.
                                    </p>
                                    <p>
                                        Replacement of items other than plugs and fuses.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Emergency Lighting Testing</u></strong>
                                    </p>
                                    <p>
                                        <strong> </strong>
                                    </p>
                                    <p>
                                        An annual test for the full rated duration of the emergency lights (e.g. 3 hours) to be carried out by a competent person in accordance
                                        with BS5266-1.
                                    </p>
                                    <p>
                                        Emergency Lighting Testing is carried out as a joint visit with Portable appliance testing
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        Annual test and certification.
                                    </p>
                                    <p>
                                        <strong>Small</strong>
                                        up to 25 items
                                    </p>
                                    <p>
                                        <strong>Medium</strong>
                                        up to 30 items
                                    </p>
                                    <p>
                                        <strong>Large</strong>
                                        up to 50 items
                                    </p>
                                    <p>
                                        <strong>Unlimited</strong>
                                        over 50 items<strong></strong>
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        Items outside Your banding (ie ‘small’, ‘medium’ or ‘large’) as disclosed from the number of items appearing on Your application form or as
                                        determined by @Booker.Common.CompanyStrings.ShortName following an inspection and testing visit under Clause 5.3. The ‘unlimited’ service is provided on the basis of the
                                        numbers of items so disclosed or determined.
                                    </p>
                                    <p>
                                        Remedial repairs including replacement batteries and bulbs
                                    </p>
                                    <p>
                                        are not included but can be arranged subject to an additional charge.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Gas Safety Check</u></strong>
                                    </p>
                                    <p>
                                        <strong><u> </u></strong>
                                    </p>
                                    <p>
                                        An annual inspection of all gas appliances carried out by a Gas Safe registered engineer.
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        To check the appliance is working correctly and checking the following four areas:
                                    </p>
                                    <p>
                                        Gas appliances are on the right setting and burning correctly with the correct operating pressure
                                    </p>
                                    <p>
                                        Harmful gases are being removed from the appliance safely to the air outside
                                    </p>
                                    <p>
                                        That any ventilation routes are clear and working properly
                                    </p>
                                    <p>
                                        All the safety devices are working.
                                    </p>
                                    <p>
                                        <strong>Small</strong>
                                        – One boiler up to 75kw and up to 4 gas fired catering appliances
                                    </p>
                                    <p>
                                        <strong>Medium</strong>
                                        – Up to 3 boilers and up to 7 gas fired catering appliances
                                    </p>
                                    <p>
                                        <strong>Large</strong>
                                        – Up to 4 boilers and up to 9 items of gas fired catering equipment
                                    </p>
                                    <p>
                                        <strong>Unlimited </strong>
                                        – over 4 boilers and/or 9 items of gas fired catering equipment
                                    </p>
                                    <p>
                                        All sites include full pipework soundness and tightness test
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        Remedial repairs, including parts, are not included but can be arranged subject to an additional charge.
                                    </p>
                                    <p>
                                        Boilers and appliances outside Your banding (ie ‘small’, ‘medium’ or ‘large’) as disclosed from the number of boilers and appliances
                                        appearing on Your application form or as determined by @Booker.Common.CompanyStrings.ShortName following an inspection and testing visit under Clause 5.3. The ‘unlimited’
                                        service is provided on the basis of the numbers of items so disclosed or determined.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Water Temperature checks and Legionalla Testing</u></strong>
                                    </p>
                                    <p>
                                        <strong><u> </u></strong>
                                    </p>
                                    <p>
                                        Water Hygiene Compliance in accordance with HSG 274 and L8 rev 4 to include: monthly temperature, quarterly showercleans, annual legionella
                                        sampling, annual calorifier flush, annual domestic water tank inspections.
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        Monthly water temperature check and annual legionella testing
                                    </p>
                                    <p>
                                        <strong>Small </strong>
                                        – Up to 25 water outlets<strong></strong>
                                    </p>
                                    <p>
                                        <strong>Medium </strong>
                                        – Up to 50 water outlets
                                    </p>
                                    <p>
                                        <strong>Large</strong>
                                        – over 50 outlets <strong></strong>
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        Risk assessments and cleaning are not included but can be arranged subject to an additional charge.
                                    </p>
                                    <p>
                                        Outlets outside Your banding (ie ‘small’ or ‘medium’) as disclosed from the number of outlets appearing on Your application form or as
                                        determined by @Booker.Common.CompanyStrings.ShortName following an inspection and testing visit under Clause 5.3. The ‘large’ service is provided on the basis of the numbers
                                        of items so disclosed or determined.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Fire Alarm</u></strong>
                                    </p>
                                    <p>
                                        <strong><u> </u></strong>
                                    </p>
                                    <p>
                                        An annual test carried out by a competent person of the fire alarm panel, sounders, detectors and magnets/relays. Includes alarm panel.
                                    </p>
                                    <p>
                                        Where You also take the Fire extinguisher service, the fire alarm test will be carried out as a joint visit <strong> </strong>
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        Annual test and certification
                                    </p>
                                    <p>
                                        <strong>Small</strong>
                                        up to 10 remote units
                                    </p>
                                    <p>
                                        <strong>Medium</strong>
                                        up to 20 remote units
                                    </p>
                                    <p>
                                        <strong>Large</strong>
                                        up to 30 remote units <strong>Unlimited </strong>over 30 remote units
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        Remedial repairs are not included but can be arranged subject to an additional charge.
                                    </p>
                                    <p>
                                        Units outside Your banding (ie ‘small’, ‘medium’ or ‘large’) as disclosed from the number of remote units appearing on Your application
                                        form or as determined by @Booker.Common.CompanyStrings.ShortName following an inspection and testing visit under Clause 5.3. The ‘unlimited’ service is provided on the basis
                                        of the numbers of remote units so disclosed or determined
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Fire Extinguishers</u></strong>
                                    </p>
                                    <p>
                                        <strong><u> </u></strong>
                                    </p>
                                    <p>
                                        An annual test by a competent person of all fire extinguishers and blankets to ensure that they will function in an emergency.                    <strong></strong>
                                    </p>
                                    <p>
                                        This is carried out as a joint visit with the Fire alarm test
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        Annual test and certification
                                    </p>
                                    <p>
                                        <strong>Small</strong>
                                        up to 10 units
                                    </p>
                                    <p>
                                        <strong>Medium</strong>
                                        up to 20 units
                                    </p>
                                    <p>
                                        <strong>Large</strong>
                                        up to 30 units <strong>Unlimited </strong>over 30 units
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        Discharge &amp; CO2 hydrostatic tests are not included but can be arranged subject to an additional charge.
                                    </p>
                                    <p>
                                        Units outside Your banding (ie ‘small’, ‘medium’ or ‘large’) as disclosed from the number of units appearing on Your application form or as
                                        determined by @Booker.Common.CompanyStrings.ShortName following an inspection and testing visit under Clause 5.3. The ‘unlimited’ service is provided on the basis of the
                                        numbers of units so disclosed or determined
                                    </p>
                                    <p>
                                        .
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Sprinkler Test</u></strong>
                                    </p>
                                    <p>
                                        <strong><u> </u></strong>
                                    </p>
                                    <p>
                                        Test and Inspection of the sprinkler system<a name="_GoBack"></a> to be carried out by a competent person
                                    </p>
                                    <p>
                                        <strong><u> </u></strong>
                                    </p>
                                </td>
                                <td width="180" valign="top">
                                    <p>
                                        Annual test and certification
                                    </p>
                                </td>
                                <td width="198" valign="top">
                                    <p>
                                        All other weekly and monthly checks are customer responsibility
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td width="262" valign="top">
                                    <p>
                                        <strong><u>Ad hoc repairs and Quoted works</u></strong>
                                    </p>
                                </td>
                                <td width="180" valign="top"></td>
                                <td width="198" valign="top">
                                    <p>
                                        Ad hoc repairs and works can be arranged subject to quotation and additional charge
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>
                        <strong> </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .jumbotron p {
        font-size: 16px !important;
        font-weight: normal !important;
    }

    .jumbotron .strong {
        font-weight: bold !important;
    }
</style>