@using Booker.WebUI.Helpers
@model Booker.WebUI.Models.CreditNotesAwaitingApprovalModel

@{
    ViewBag.Title = "Credits with Query Response";
    ViewBag.MenuSection = "invoices-menu";
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@ViewBag.Title</h2>
                <table id="creditnote-awaiting-approval" class="responsive clicktable" data-empty-table="There are no credits with query response">
                    <thead>
                        <tr>
                            <th>Credit Note No</th>
                            <th>Credit Note Date</th>
                            <th>Supplier</th>
                            <th>Net ($)</th>
                            <th>Tax ($)</th>
                            <th>Gross ($)</th>
                            <th>Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CreditNoteApprovals)
                        {
                            @Html.FirstCreditNoteApprovalTableRow(item, Model.ReadOnly)
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                @section scripts {
                @Scripts.Render("~/bundles/jquerydatatables")
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/jqueryui")
                }
            </div>
        </div>
    </div>
</div>