@using System.Globalization
@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@using Booker.WebUI.Models
@model ResourceAvailabilityViewModel

@{
    ViewBag.Title = "Resource Availability";
    ViewBag.MenuSection = "availability-menu";
}
<link href="~/Content/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm("Index", "ResourceAvailability"))
                {
                    <h2 class="tablesPage">Resource Availability</h2>
                    <table id="resource-availability" class="responsive clicktable" data-empty-table="All Engineers are currently available.">
                        <thead>
                        <tr>
                            <th>Resource</th>
                            <th>Reason</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Covering Resource</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.ResourceUnavailabilities)
                        {
                            <tr id="tr-@item.Id">
                                <td>@item.ResourceName</td>
                                <td>@item.ReasonDescription</td>
                                <td>@Html.TextOrEmptyString(item.StartDate.ToCurrentCultureDateTime())</td>
                                <td>@Html.TextOrEmptyString(item.EndDate.ToCurrentCultureDateTime())</td>
                                <td>
                                    <select onchange="selectCoverButton('@item.Id')">
                                        <option value="" disabled selected>Select a covering resource</option>
                                        @foreach (var engineer in @item.Engineers)
                                        {
                                            if (engineer.ResourceId == item.CoveringResourceID)
                                            {
                                                <option selected="selected" value="@engineer.ResourceId">@engineer.ResourceName (@engineer.ResourceSubTypeName)</option>
                                            }
                                            else
                                            {
                                                <option value="@engineer.ResourceId">@engineer.ResourceName (@engineer.ResourceSubTypeName)</option>
                                            }
                                        }
                                    </select>
                                </td>
                                <td>
                                    <button class="btn-info btn-xs round confirm" alt="Confirm" onclick="confirmCover('@item.Id')" disabled>Confirm</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
@section scripts {


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydatatables")
    @Scripts.Render("~/bundles/supplierhelpers")
    <script>
        var helper = new CommonHelpers();
        helper.initialiseDatePickers();

        function deleteAvailability(id) {
            $.ajax({
                type: "POST",
                data: { availabilityId: id },
                url: '@Url.Action("Delete")',
                success: function() { location.reload(); }
            });
        }

        function editAvailability(id) {
            window.location.href = "/ResourceAvailability/Edit?availabilityId=" + id;
            @*$.ajax({
                type: "GET",
                data: { availabilityId: id },
                url: '@Url.Action("Edit","ResourceAvailability")'
            });*@
        }

        function selectCoverButton(availabilityId) {
            if ($('#tr-' + availabilityId + ' select').val()) {
                $('#tr-' + availabilityId + ' button.confirm').removeAttr('disabled');
            } else {
                $('#tr-' + availabilityId + ' button.confirm').attr('disabled', true);
            }
        }

        function confirmCover(availabilityId) {
            var coveringResourceId = $('#tr-' + availabilityId + ' select').val();

            document.location.href = '/ResourceAvailability/CoveringEngineer?availabilityId=' + availabilityId + '&coverResourceId=' + coveringResourceId;
        }

    </script>
}
