@using System.Activities.Statements
@using Booker.Data.Entities
@using Booker.WebUI.Extensions
@model IEnumerable<Lead>

@{
    ViewBag.Title = "Home";
    ViewBag.MenuSection = "leads-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">Leads to Contacts</h2>
               
                    <table id="active-leads" class="responsive clicktable" data-empty-table="There are no active leads at present!">
                        <thead>
                            <tr>
                                <th>Lead Id</th>
                                <th>Member Number</th>
                                <th>Member Name</th>
                                <th>Contact Number</th>
                                <th>Callback Date & Time</th>
                                <th class="hidden">Follow Up</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.MemberNumber</td>
                                    <td>@item.Name</td>
                                    <td>@item.ContactNumber</td>
                                    <td>@item.CallBackDateTime.ToCurrentCultureDateTime()</td>
                                    <td class="hidden">@Html.ActionLink("Follow Up", "FollowUpLead", "HelpDesk", new { id = @item.Id }, null)</td>
                                </tr>

                            }
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}