@using Booker.WebUI.Helpers
@using Booker.WebUI.Models
@using Booker.WebUI.Extensions
@model AllJobsModel

@{
    ViewBag.Title = "All Jobs";
    ViewBag.MenuSection = "jobs-menu";
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Find Jobs</h2>
                <div class="main-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <fieldset class="header-fields">
                            <legend class="hidden">Search</legend>
                            <div class="header-row">
                                <div class="editor-for">
                                    @Html.LabelFor(model => model.DateFrom)
                                    @Html.EditorFor(model => model.DateFrom)
                                    @Html.ValidationMessageFor(model => model.DateFrom)
                                </div>
                                <div class="editor-for">
                                    @Html.LabelFor(model => model.DateTo)
                                    @Html.EditorFor(model => model.DateTo)
                                    @Html.ValidationMessageFor(model => model.DateTo)
                                </div>
                                
                                <div class="editor-for">
                                    @Html.LabelFor(model => model.SupplierId)
                                    @Html.DropDownListFor(model => model.SupplierId, Model.SupplierSelectList)
                                    @Html.ValidationMessageFor(model => model.SupplierId)
                                </div>
                                <div style="clear:both">
                                    <input type="submit" value="Find" class="btn btn-primary" />
                                </div>
                            </div>
                        </fieldset>
                    }
                    @if (Model.Jobs != null)
                    {
                        <table id="unverified-certificates" class="responsive clicktable" data-empty-table="There are no Certificates to be Reviewed.">
                            <thead>
                                <tr>
                                    <th>Job Ref</th>
                                    <th>Job Type</th>
                                    <th>Callout Time</th>
                                    <th>Store</th>
                                    <th>Fault Service Description</th>
                                    <th>Status</th>
                                    <th>Supplier</th>
                                    <th>Supplier Ref</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Jobs)
                                {
                                    <tr>

                                        <td>@Html.TextOrEmptyString(@item.JobRef.ToString())</td>
                                        <td>@Html.TextOrEmptyString(@item.JobType)</td>
                                        <td>@Html.TextOrEmptyString(@item.DueDate.ToCurrentCultureDateTime())</td>
                                        <td>@Html.TextOrEmptyString(@item.SiteName.Replace("()",""))</td>
                                        <td>@Html.TextOrEmptyString(@item.FaultServiceDescription)</td>
                                        <td>
                                            @{
                                    if (@item.JobType == "PPM")
                                    {
                                        @SiteHelper.PPMMappedStatus(Convert.ToInt16(@item.JobStatus));
                                    }
                                    else
                                    {
                                        @item.JobStatus
                                    }
                                            }
                                        </td>
                                        <td>@Html.TextOrEmptyString(@item.SupplierName)</td>
                                        <td>@Html.TextOrEmptyString(@item.SupplierReference)</td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerydatatables")
    @Scripts.Render("~/bundles/supplierhelpers")
}
