@using Booker.WebUI.Helpers
@model IEnumerable<Booker.WebUI.Models.QueriedCertificatesModel>
@{
    ViewBag.Title = "Certificates in Query";
    ViewBag.MenuSection = "certificates-menu";
}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@ViewBag.Title</h2>
                <table id="queried-certificates" class="responsive clicktable" data-empty-table="There are no Certificates in Query.">
                    <thead>
                        <tr>
                            <th>Job Ref</th>
                            <th>Job Type</th>
                            <th>Site</th>
                            <th>Supplier</th>
                            <th>Reason</th>
                            <th>Fault Service/PPM Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.JobRef</td>
                                <td>@Html.TextOrEmptyString(@item.JobType)</td>
                                <td>@Html.TextOrEmptyString(@item.SiteName)</td>
                                <td>@Html.TextOrEmptyString(@item.SupplierName)</td>
                                <td>@Html.TextOrEmptyString(@item.CertificateQueryReason)</td>
                                <td>@Html.TextOrEmptyString(@item.FaultServiceDescription)</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}
