@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@model IEnumerable<Booker.WebUI.Models.JobModel>
@{
    ViewBag.Title = "Jobs Awaiting Certificate";
    ViewBag.MenuSection = "jobs-menu";
    // Used to determine navigation link in shared page that is accessed from this page.
    TempData["PageOrigin"] = ViewContext.RouteData.Values["action"];

}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="tablesPage">@ViewBag.Title</h2>
                <table id="awaiting-certificate" class="responsive clicktable" data-empty-table="There are no jobs awaiting certificate">
                    <thead>
                        <tr>
                            <th>Job Ref</th>
                            <th>Job Type</th>
                            <th>Site</th>
                            <th>Fault Service/PPM Type</th>
                            <th>Supplier</th>
                            <th>Supplier Ref</th>
                            <th>Certificate Ref</th>
                            <th>Date Completed</th>
                            <th>Days outstanding</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="clickable">
                                <td>@Html.TextOrEmptyString(@item.JobRef.ToString())</td>
                                <td>@Html.TextOrEmptyString(@item.JobType)</td>
                                <td>@Html.TextOrEmptyString(@item.SiteName)</td>
                                <td>@Html.TextOrEmptyString(@item.FaultServiceDescription)</td>
                                <td>@Html.TextOrEmptyString(@item.SupplierName)</td>
                                <td>@Html.TextOrEmptyString(@item.SupplierReference)</td>
                                <td>@Html.TextOrEmptyString(@item.CertificateNumber)</td>
                                <td>@Html.TextOrEmptyString(@item.CompletedDateTime.ToCurrentCultureDateTime())</td>
                                <td>
                                    @{
                                    //Calculating the date outstanding from date completed by subtracting the completed date
                                    //from the todays date
                                    if(item.CompletedDateTime!=null)
                                    {
                                        var days=(int)DateTime.Now.Subtract(item.CompletedDateTime.Value).TotalDays;
                                        @(days)
                                    }
                                    else{
                                        Html.TextOrEmptyString(string.Empty);
                                    }

                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot></tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jquerydatatables")
}
