@using Booker.WebUI.Extensions
@using Booker.WebUI.Helpers
@using Booker.WebUI.Models.Member
@model MemberModel

@{
    ViewBag.Title = "Member's Auto Renewal";
    ViewBag.MenuSection = "Home-menu";
    var isChecked = "false";

    if (Model.AutoRenewal)
    {
        isChecked = "checked";
    }

}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>@ViewBag.Title</h2>

                @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "LookUpLeadForm", @class = "input-form" }))
                {

                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Number:</strong></span>
                        </div>
                        <div class="col-xs-9"><span id="memberNumber" class="form-control-static">@Model.CustomerMemberNumber</span></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Manager:</strong></span>
                        </div>
                        <div class="col-xs-9"><span id="memberNumber" class="form-control-static">@Model.MemberManager</span></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Email:</strong></span>
                        </div>
                        <div class="col-xs-9"><span id="memberNumber" class="form-control-static">@Model.MemberEmail</span></div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Contact No:</strong></span>
                        </div>
                        <div class="col-xs-9"><span id="memberNumber" class="form-control-static">@Model.MemberContactNo</span></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Name:</strong></span>
                        </div>
                        <div class="col-xs-9"><span id="memberNumber" class="form-control-static">@Model.Name</span></div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>Member Status:</strong></span>
                        </div>
                        <div class="col-xs-9"><span id="memberNumber" class="form-control-static">@SiteHelper.GetMemberStatusById(Model.MemberStatus)</span></div>
                    </div>

                    <div class="row default-bottom-margin">

                        <div class="form-group">
                            <div class="col-xs-2"><span><strong>Member Sites:</strong></span></div>
                            <div class="col-xs-9"> @Html.Action("MemberSites", new { memberId = @Model.Id })     </div>
                        </div>
                    </div>

                    <div class="row  default-bottom-margin">
                        <div class="form-group col-xs-2">
                            <span><strong>Auto Renewal:</strong></span>
                        </div>
                        <div class="col-xs-9"> <input type="checkbox" @isChecked data-style="btn-group-sm" /> </div>
                    </div>

                    <div class="row  default-bottom-margin">
                        <div class="form-group col-xs-2">
                            <span><strong>Notes:</strong></span>
                        </div>
                        <div class="col-xs-9"> <textarea id="AutoRenewalNotes" cols="40" rows="4" class="form-control"></textarea> </div>
                    </div>

                    <div id="AutoRenewalNotesWarning" class="row  default-bottom-margin hide">
                        <div class="form-group col-xs-2">
                            <span>&nbsp;</span>
                        </div>
                        <div class="col-xs-9"> <p class="text-danger">You must provide notes when changing Auto Renewal!</p> </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>&nbsp;</strong></span>
                        </div>
                        <div class="col-xs-9 ">
                            <button type="button" class="btn btn-warning pull-right" data-toggle="modal" data-target="#myModal">
                                View existing Notes
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-2">
                            <span><strong>&nbsp;</strong></span>
                        </div>
                        <div class="col-xs-9"> <button type="button" class="btn btn-primary" onclick="SubmitRenewalForm(); return false;">Save</button> </div>
                    </div>

                }
                <div class="default-top-margin clear-fix">
                    <hr />
                    <button type="button" class="btn btn-default" onclick="window.history.back();"><< Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Member Auto Renewal Notes</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover table-responsive">
                    @if (Model.AutoRenewalNotes.Any())
                    {
                        foreach (var noteItem in Model.AutoRenewalNotes)
                        {
                            <tr><td>   <p class="text"> @noteItem.NoteText <strong>recorded</strong> by @noteItem.Username on <strong>@noteItem.NoteDate.ToCurrentCultureDateTime()  </strong></p></td></tr>
                        }

                    }
                    else
                    {
                        <tr><td>There are no renewals notes available at present</td></tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryvalcustom")
    @Scripts.Render("~/bundles/jqueryCheckbox")
    <script>
        var isStatusChanged = false;
        $(function () {
            $('input[type="checkbox"]').checkboxpicker({ onLabel: "ON", offLabel: "OFF" }).change(function () {
                isStatusChanged = true;
            });
        });

        function SubmitRenewalForm() {

            if (!isStatusChanged || isStatusChanged && $('#AutoRenewalNotes').val().length > 0) {
                $('#AutoRenewalNotesWarning').addClass('hide').removeClass('show');
                $('#AutoRenewalNotes').removeClass('input-error');
                $.ajax({
                    url: '/HelpDesk/ProcessMemberAutoRenewal',
                    data: { memberNumber: $('#memberNumber').text(), renewal: $('a.active').text(), note: $('#AutoRenewalNotes').val() },
                    type: 'POST',
                    success:
                        function () {
                            window.location.href = '/helpdesk/AllCustomers/';
                        }
                });
            } else {
                $('#AutoRenewalNotesWarning').addClass('show').removeClass('hide');
                $('#AutoRenewalNotes').addClass('input-error');
            };
        }
    </script>
}
@section css {
    @Styles.Render("~/Content/themes/base/css")
}